# Importing Libraries

In [1]:
from mimic.mimic import MIMIC, MIMICManipulations
from utils.util import generic_utils
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [2]:
generic_util_instance = generic_utils()

# Load Data

In [3]:
df = pd.read_csv('./dataset/ch_02_end_to_end_ml.csv')

/home/pri2si17/Development/virtual_envs/homl_mimic/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.head()

,subject_id,admission_type,admission_location,discharge_location,insurance,language,marital_status,ethnicity,hospital_expire_flag,los_admission,...,priority,drg_type,drg_code,drug,route,org_name,test_name,quantity,ab_name,curr_service
0,10000019.0,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,WHITE,0,1.968056,...,STAT,HCFA,795.0,Vaccine Book,IM,NaN,"Blood Culture, Routine",NaN,NaN,NB
1,10000032.0,EW EMER.,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,0,2.222222,...,ROUTINE,HCFA,442.0,Influenza Vaccine Quadrivalent,IM,NaN,EPSTEIN-BARR VIRUS VCA-IgG AB,NaN,NaN,MED
2,10000044.0,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,ASIAN,0,1.865278,...,STAT,HCFA,795.0,Erythromycin 0.5% Ophth Oint,BOTH EYES,NaN,FECAL CULTURE,NaN,NaN,NB
3,10000068.0,EU OBSERVATION,EMERGENCY ROOM,NaN,Other,ENGLISH,SINGLE,WHITE,0,0.298611,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MED
4,10000074.0,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,WHITE,0,4.109722,...,STAT,HCFA,795.0,Erythromycin 0.5% Ophth Oint,BOTH EYES,NaN,NaN,NaN,NaN,NB

In [5]:
df.columns

Index(['subject_id', 'admission_type', 'admission_location',
       'discharge_location', 'insurance', 'language', 'marital_status',
       'ethnicity', 'hospital_expire_flag', 'los_admission', 'gender',
       'anchor_age', 'eventtype', 'careunit', 'diagnosis_icd_code',
       'procedures_icd_code', 'value', 'flag', 'priority', 'drg_type',
       'drg_code', 'drug', 'route', 'org_name', 'test_name', 'quantity',
       'ab_name', 'curr_service'],
      dtype='object')

In [6]:
df.shape

(256796, 28)

# Data Exploration

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256796 entries, 0 to 256795
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   subject_id            256796 non-null  float64
 1   admission_type        256796 non-null  object
 2   admission_location    196392 non-null  object
 3   discharge_location    177537 non-null  object
 4   insurance             256796 non-null  object
 5   language              256796 non-null  object
 6   marital_status        193336 non-null  object
 7   ethnicity             256796 non-null  object
 8   hospital_expire_flag  256796 non-null  int64
 9   los_admission         256796 non-null  float64
 10  gender                256796 non-null  object
 11  anchor_age            256796 non-null  int64
 12  eventtype             256796 non-null  object
 13  careunit              793 non-null     object
 14  diagnosis_icd_code    255024 non-null  object
 15  procedures_icd_code   163661 non-null  object
 16  value                 246121 non-null  object
 17  flag                  29759 non-null   object
 18  priority              234710 non-null  object
 19  drg_type              216865 non-null  object
 20  drg_code              216865 non-null  float64
 21  drug                  232022 non-null  object
 22  route                 231812 non-null  object
 23  org_name              66120 non-null   object
 24  test_name             173717 non-null  object
 25  quantity              4 non-null       object
 26  ab_name               29136 non-null   object
 27  curr_service          256795 non-null  object
dtypes: float64(3), int64(2), object(23)
memory usage: 54.9+ MB

In [8]:
df.describe()

,subject_id,hospital_expire_flag,los_admission,anchor_age,drg_code
count,2.567960e+05,256796.000000,256796.000000,256796.000000,216865.000000
mean,1.501224e+07,0.020705,4.040955,42.288708,552.191253
std,2.885679e+06,0.142396,7.634195,29.397485,274.933987
min,1.000002e+07,0.000000,0.000694,0.000000,1.000000
25%,1.251287e+07,0.000000,1.019444,19.000000,308.000000
50%,1.501818e+07,0.000000,2.240972,47.000000,621.000000
75%,1.751089e+07,0.000000,4.142361,66.000000,795.000000
max,1.999999e+07,1.000000,377.026389,91.000000,999.000000

In [9]:
df.dtypes

subject_id              float64
admission_type           object
admission_location       object
discharge_location       object
insurance                object
language                 object
marital_status           object
ethnicity                object
hospital_expire_flag      int64
los_admission           float64
gender                   object
anchor_age                int64
eventtype                object
careunit                 object
diagnosis_icd_code       object
procedures_icd_code      object
value                    object
flag                     object
priority                 object
drg_type                 object
drg_code                float64
drug                     object
route                    object
org_name                 object
test_name                object
quantity                 object
ab_name                  object
curr_service             object
dtype: object

# Preparing Data for Machine Learning Algorithms

# Data Cleaning

In [10]:
# Drop subject_id and quantity Column
df.drop(['subject_id', 'quantity', 'diagnosis_icd_code', 'procedures_icd_code', 'value'], axis=1, inplace = True)

In [11]:
df.head()

,admission_type,admission_location,discharge_location,insurance,language,marital_status,ethnicity,hospital_expire_flag,los_admission,gender,...,flag,priority,drg_type,drg_code,drug,route,org_name,test_name,ab_name,curr_service
0,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,WHITE,0,1.968056,M,...,NaN,STAT,HCFA,795.0,Vaccine Book,IM,NaN,"Blood Culture, Routine",NaN,NB
1,EW EMER.,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,0,2.222222,F,...,abnormal,ROUTINE,HCFA,442.0,Influenza Vaccine Quadrivalent,IM,NaN,EPSTEIN-BARR VIRUS VCA-IgG AB,NaN,MED
2,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,ASIAN,0,1.865278,F,...,NaN,STAT,HCFA,795.0,Erythromycin 0.5% Ophth Oint,BOTH EYES,NaN,FECAL CULTURE,NaN,NB
3,EU OBSERVATION,EMERGENCY ROOM,NaN,Other,ENGLISH,SINGLE,WHITE,0,0.298611,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MED
4,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,WHITE,0,4.109722,M,...,NaN,STAT,HCFA,795.0,Erythromycin 0.5% Ophth Oint,BOTH EYES,NaN,NaN,NaN,NB

In [12]:
df.admission_type.value_counts()

ELECTIVE                       63763
EU OBSERVATION                 61249
EW EMER.                       53133
URGENT                         21395
OBSERVATION ADMIT              17905
SURGICAL SAME DAY ADMISSION    17298
DIRECT OBSERVATION             13208
AMBULATORY OBSERVATION          4877
DIRECT EMER.                    3968
Name: admission_type, dtype: int64

In [13]:
df.admission_type.isna().sum()

0

In [14]:
df.admission_location.value_counts()

EMERGENCY ROOM                            104535
PHYSICIAN REFERRAL                         51316
TRANSFER FROM HOSPITAL                     21364
WALK-IN/SELF REFERRAL                       7026
PROCEDURE SITE                              4064
PACU                                        3367
CLINIC REFERRAL                             3050
TRANSFER FROM SKILLED NURSING FACILITY      1105
INTERNAL TRANSFER TO OR FROM PSYCH           250
INFORMATION NOT AVAILABLE                    222
AMBULATORY SURGERY TRANSFER                   93
Name: admission_location, dtype: int64

In [15]:
df.admission_location.isna().sum()

60404

In [16]:
df = generic_util_instance.replace_nan(df, 'admission_location', 'Other')
df.head()

,admission_type,admission_location,discharge_location,insurance,language,marital_status,ethnicity,hospital_expire_flag,los_admission,gender,...,flag,priority,drg_type,drg_code,drug,route,org_name,test_name,ab_name,curr_service
0,ELECTIVE,Other,HOME,Other,ENGLISH,NaN,WHITE,0,1.968056,M,...,NaN,STAT,HCFA,795.0,Vaccine Book,IM,NaN,"Blood Culture, Routine",NaN,NB
1,EW EMER.,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,0,2.222222,F,...,abnormal,ROUTINE,HCFA,442.0,Influenza Vaccine Quadrivalent,IM,NaN,EPSTEIN-BARR VIRUS VCA-IgG AB,NaN,MED
2,ELECTIVE,Other,HOME,Other,ENGLISH,NaN,ASIAN,0,1.865278,F,...,NaN,STAT,HCFA,795.0,Erythromycin 0.5% Ophth Oint,BOTH EYES,NaN,FECAL CULTURE,NaN,NB
3,EU OBSERVATION,EMERGENCY ROOM,NaN,Other,ENGLISH,SINGLE,WHITE,0,0.298611,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MED
4,ELECTIVE,Other,HOME,Other,ENGLISH,NaN,WHITE,0,4.109722,M,...,NaN,STAT,HCFA,795.0,Erythromycin 0.5% Ophth Oint,BOTH EYES,NaN,NaN,NaN,NB

In [17]:
df.shape

(256796, 23)

In [18]:
df.admission_location.isna().sum()

0

In [19]:
df = generic_util_instance.replace_column_value(df, 'admission_location', 3000, 'Other')
df.admission_location.value_counts()

EMERGENCY ROOM            104535
Other                      62074
PHYSICIAN REFERRAL         51316
TRANSFER FROM HOSPITAL     21364
WALK-IN/SELF REFERRAL       7026
PROCEDURE SITE              4064
PACU                        3367
CLINIC REFERRAL             3050
Name: admission_location, dtype: int64

In [20]:
df.discharge_location.isna().sum()

79259

In [21]:
df.discharge_location.value_counts()

HOME                            115951
HOME HEALTH CARE                 27479
SKILLED NURSING FACILITY         15246
REHAB                             5272
DIED                              5184
ACUTE HOSPITAL                    2489
CHRONIC/LONG TERM ACUTE CARE      2286
HOSPICE                           1342
PSYCH FACILITY                     823
AGAINST ADVICE                     681
OTHER FACILITY                     469
ASSISTED LIVING                    175
HEALTHCARE FACILITY                140
Name: discharge_location, dtype: int64

In [22]:
df = generic_util_instance.replace_nan(df, 'discharge_location', 'Other')
df = generic_util_instance.replace_column_value(df, 'discharge_location', 2000, 'Other')
df.discharge_location.value_counts()

HOME                            115951
Other                            82889
HOME HEALTH CARE                 27479
SKILLED NURSING FACILITY         15246
REHAB                             5272
DIED                              5184
ACUTE HOSPITAL                    2489
CHRONIC/LONG TERM ACUTE CARE      2286
Name: discharge_location, dtype: int64

In [23]:
df.insurance.value_counts()

Other       173946
Medicare     60100
Medicaid     22750
Name: insurance, dtype: int64

In [24]:
df.insurance.isna().sum()

0

In [25]:
df.language.isna().sum()

0

In [26]:
df.language.value_counts()

ENGLISH    237922
?           18874
Name: language, dtype: int64

In [27]:
df = generic_util_instance.replace_column_value(df, 'language', 23000, 'Other')
df.language.value_counts()

ENGLISH    237922
Other       18874
Name: language, dtype: int64

In [28]:
df.marital_status.isna().sum()

63460

In [29]:
df.marital_status.value_counts()

MARRIED     84862
SINGLE      78341
WIDOWED     17862
DIVORCED    12271
Name: marital_status, dtype: int64

In [30]:
df = generic_util_instance.replace_nan(df, 'marital_status', 'Other')
df.marital_status.value_counts()

MARRIED     84862
SINGLE      78341
Other       63460
WIDOWED     17862
DIVORCED    12271
Name: marital_status, dtype: int64

In [31]:
df.ethnicity.isna().sum()

0

In [32]:
df.ethnicity.value_counts()

WHITE                            159432
BLACK/AFRICAN AMERICAN            31179
ASIAN                             16522
UNKNOWN                           16443
OTHER                             15854
HISPANIC/LATINO                   13334
UNABLE TO OBTAIN                   3084
AMERICAN INDIAN/ALASKA NATIVE       948
Name: ethnicity, dtype: int64

In [33]:
df = generic_util_instance.replace_column_value(df, 'ethnicity', 4500, 'OTHER')
df.ethnicity.value_counts()

WHITE                     159432
BLACK/AFRICAN AMERICAN     31179
OTHER                      19886
ASIAN                      16522
UNKNOWN                    16443
HISPANIC/LATINO            13334
Name: ethnicity, dtype: int64

In [34]:
df.hospital_expire_flag.value_counts()

0    251479
1      5317
Name: hospital_expire_flag, dtype: int64

In [35]:
df.hospital_expire_flag.isna().sum()

0

In [36]:
df.gender.value_counts()

F    133426
M    123370
Name: gender, dtype: int64

In [37]:
df.gender.isna().sum()

0

In [38]:
df.anchor_age.isna().sum()

0

In [39]:
df.eventtype.isna().sum()

0

In [40]:
df.eventtype.value_counts()

discharge    227823
admit         24732
transfer       4131
ED              110
Name: eventtype, dtype: int64

In [41]:
df.careunit.isna().sum()

256003

In [42]:
df.careunit.value_counts()

Medicine                               197
PACU                                   138
Emergency Department                   110
Neurology                               64
Med/Surg                                60
Vascular                                53
Labor & Delivery                        35
Nursery - Well Babies                   23
Surgery                                 17
Surgery/Trauma                          15
Cardiac Surgery                         10
Med/Surg/GYN                             9
Transplant                               9
Medicine/Cardiology                      8
Med/Surg/Trauma                          8
Trauma SICU (TSICU)                      4
Emergency Department Observation         4
Coronary Care Unit (CCU)                 3
Special Care Nursery (SCN)               3
Observation                              3
Hematology/Oncology                      3
Medical/Surgical (Gynecology)            3
Obstetrics Postpartum                    2
Thoracic Surgery                         2
Psychiatry                               2
Cardiology                               2
Neuro Stepdown                           2
Obstetrics Antepartum                    1
Cardiology Surgery Intermediate          1
Medical Intensive Care Unit (MICU)       1
Neonatal Intensive Care Unit (NICU)      1
Name: careunit, dtype: int64

In [43]:
#Careunit has lot of nans, dropping it.
df.drop('careunit', axis=1, inplace = True)

In [44]:
df.head()

,admission_type,admission_location,discharge_location,insurance,language,marital_status,ethnicity,hospital_expire_flag,los_admission,gender,...,flag,priority,drg_type,drg_code,drug,route,org_name,test_name,ab_name,curr_service
0,ELECTIVE,Other,HOME,Other,ENGLISH,Other,WHITE,0,1.968056,M,...,NaN,STAT,HCFA,795.0,Vaccine Book,IM,NaN,"Blood Culture, Routine",NaN,NB
1,EW EMER.,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,0,2.222222,F,...,abnormal,ROUTINE,HCFA,442.0,Influenza Vaccine Quadrivalent,IM,NaN,EPSTEIN-BARR VIRUS VCA-IgG AB,NaN,MED
2,ELECTIVE,Other,HOME,Other,ENGLISH,Other,ASIAN,0,1.865278,F,...,NaN,STAT,HCFA,795.0,Erythromycin 0.5% Ophth Oint,BOTH EYES,NaN,FECAL CULTURE,NaN,NB
3,EU OBSERVATION,EMERGENCY ROOM,Other,Other,ENGLISH,SINGLE,WHITE,0,0.298611,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MED
4,ELECTIVE,Other,HOME,Other,ENGLISH,Other,WHITE,0,4.109722,M,...,NaN,STAT,HCFA,795.0,Erythromycin 0.5% Ophth Oint,BOTH EYES,NaN,NaN,NaN,NB

In [45]:
#df.diagnosis_icd_code.isna().sum()

AttributeError: 'DataFrame' object has no attribute 'diagnosis_icd_code'

In [46]:
# df = generic_util_instance.replace_nan(df, 'diagnosis_icd_code', 'ICD_DIAGNOSIS')
# df.diagnosis_icd_code.isna().sum()

KeyError: 'diagnosis_icd_code'

In [47]:
# df.procedures_icd_code.isna().sum()

AttributeError: 'DataFrame' object has no attribute 'procedures_icd_code'

In [48]:
# df = generic_util_instance.replace_nan(df, 'procedures_icd_code', 'ICD_PROCEDURES')
# df.procedures_icd_code.isna().sum()

In [49]:
#df.value.isna().sum()

In [50]:
# #Fill value with 0.
# df = generic_util_instance.replace_nan(df, 'value', 0.0)
# df.value.isna().sum()

In [51]:
df.flag.isna().sum()

227037

In [52]:
df.flag.value_counts()

abnormal    29759
Name: flag, dtype: int64

In [53]:
df = generic_util_instance.replace_nan(df, 'flag', 'normal')
df.flag.value_counts()

normal      227037
abnormal     29759
Name: flag, dtype: int64

In [54]:
df.priority.isna().sum()

22086

In [55]:
df.priority.value_counts()

STAT       171757
ROUTINE     62953
Name: priority, dtype: int64

In [56]:
df = generic_util_instance.replace_nan(df, 'priority', 'OTHER')
df.priority.value_counts()

STAT       171757
ROUTINE     62953
OTHER       22086
Name: priority, dtype: int64

In [57]:
df.columns

Index(['admission_type', 'admission_location', 'discharge_location',
       'insurance', 'language', 'marital_status', 'ethnicity',
       'hospital_expire_flag', 'los_admission', 'gender', 'anchor_age',
       'eventtype', 'flag', 'priority', 'drg_type', 'drg_code', 'drug',
       'route', 'org_name', 'test_name', 'ab_name', 'curr_service'],
      dtype='object')

In [58]:
df.drg_type.isna().sum()

39931

In [59]:
df.drg_type.value_counts().to_dict()

{'HCFA': 216865}

In [60]:
df = generic_util_instance.replace_nan(df, 'drg_type', 'OTHER')
df.drg_type.value_counts()

HCFA     216865
OTHER     39931
Name: drg_type, dtype: int64

In [61]:
df.drg_code.isna().sum()

39931

In [62]:
df.drg_code.value_counts().to_dict()

{795.0: 38175,
 794.0: 11496,
 775.0: 4758,
 792.0: 3737,
 885.0: 3278,
 392.0: 2888,
 793.0: 2444,
 470.0: 2435,
 871.0: 2310,
 789.0: 1994,
 236.0: 1986,
 247.0: 1955,
 790.0: 1774,
 603.0: 1736,
 765.0: 1735,
 766.0: 1624,
 65.0: 1599,
 64.0: 1597,
 287.0: 1365,
 774.0: 1365,
 494.0: 1357,
 460.0: 1281,
 552.0: 1280,
 101.0: 1189,
 220.0: 1180,
 791.0: 1148,
 378.0: 1140,
 473.0: 1138,
 312.0: 1056,
 25.0: 1048,
 690.0: 984,
 66.0: 977,
 330.0: 967,
 897.0: 930,
 743.0: 925,
 683.0: 922,
 491.0: 898,
 627.0: 897,
 313.0: 870,
 641.0: 843,
 194.0: 842,
 27.0: 838,
 481.0: 833,
 621.0: 828,
 853.0: 811,
 234.0: 790,
 3.0: 789,
 176.0: 753,
 291.0: 753,
 87.0: 752,
 310.0: 737,
 280.0: 708,
 872.0: 694,
 343.0: 677,
 419.0: 676,
 219.0: 675,
 445.0: 650,
 917.0: 649,
 454.0: 638,
 292.0: 637,
 781.0: 625,
 331.0: 619,
 246.0: 612,
 918.0: 607,
 208.0: 602,
 86.0: 601,
 682.0: 588,
 193.0: 582,
 493.0: 567,
 881.0: 564,
 251.0: 563,
 581.0: 557,
 444.0: 557,
 309.0: 552,
 482.0: 550,
 435.0: 549,
 439.0: 528,
 253.0: 525,
 308.0: 519,
 329.0: 513,
 394.0: 511,
 391.0: 488,
 286.0: 482,
 195.0: 480,
 217.0: 476,
 446.0: 476,
 432.0: 474,
 455.0: 472,
 377.0: 468,
 249.0: 464,
 563.0: 460,
 103.0: 458,
 216.0: 455,
 689.0: 454,
 164.0: 447,
 812.0: 446,
 472.0: 444,
 638.0: 442,
 441.0: 440,
 300.0: 435,
 440.0: 435,
 438.0: 432,
 26.0: 431,
 238.0: 428,
 85.0: 419,
 981.0: 417,
 418.0: 416,
 165.0: 411,
 254.0: 410,
 23.0: 408,
 390.0: 405,
 386.0: 403,
 4.0: 394,
 742.0: 392,
 301.0: 387,
 314.0: 386,
 57.0: 379,
 870.0: 378,
 393.0: 375,
 235.0: 374,
 580.0: 370,
 480.0: 370,
 442.0: 365,
 166.0: 364,
 74.0: 357,
 69.0: 355,
 395.0: 355,
 54.0: 349,
 153.0: 348,
 149.0: 347,
 252.0: 345,
 221.0: 344,
 167.0: 337,
 328.0: 334,
 406.0: 334,
 281.0: 333,
 948.0: 333,
 920.0: 333,
 964.0: 330,
 100.0: 330,
 327.0: 330,
 207.0: 326,
 605.0: 326,
 433.0: 323,
 640.0: 322,
 237.0: 320,
 299.0: 319,
 93.0: 315,
 243.0: 312,
 92.0: 312,
 39.0: 310,
 177.0: 310,
 163.0: 303,
 708.0: 299,
 244.0: 298,
 863.0: 297,
 520.0: 295,
 387.0: 295,
 847.0: 294,
 405.0: 291,
 585.0: 286,
 315.0: 284,
 326.0: 281,
 807.0: 281,
 512.0: 280,
 203.0: 280,
 202.0: 280,
 684.0: 278,
 200.0: 277,
 305.0: 276,
 866.0: 273,
 293.0: 271,
 551.0: 269,
 372.0: 268,
 282.0: 268,
 379.0: 267,
 864.0: 266,
 490.0: 265,
 190.0: 264,
 558.0: 264,
 191.0: 264,
 982.0: 263,
 652.0: 263,
 639.0: 262,
 233.0: 261,
 956.0: 261,
 958.0: 260,
 373.0: 260,
 517.0: 255,
 355.0: 248,
 699.0: 244,
 389.0: 244,
 882.0: 242,
 694.0: 242,
 908.0: 241,
 896.0: 240,
 502.0: 237,
 180.0: 234,
 184.0: 233,
 583.0: 231,
 556.0: 230,
 417.0: 230,
 957.0: 230,
 880.0: 229,
 206.0: 229,
 91.0: 225,
 84.0: 224,
 841.0: 223,
 698.0: 223,
 178.0: 222,
 192.0: 221,
 834.0: 219,
 55.0: 218,
 919.0: 217,
 175.0: 217,
 375.0: 217,
 714.0: 214,
 82.0: 213,
 242.0: 213,
 813.0: 210,
 248.0: 210,
 658.0: 208,
 516.0: 207,
 767.0: 207,
 602.0: 205,
 443.0: 205,
 316.0: 203,
 951.0: 201,
 536.0: 200,
 840.0: 199,
 607.0: 199,
 181.0: 199,
 227.0: 198,
 189.0: 197,
 637.0: 196,
 469.0: 195,
 250.0: 195,
 204.0: 194,
 371.0: 193,
 809.0: 190,
 29.0: 188,
 907.0: 185,
 354.0: 185,
 83.0: 183,
 374.0: 181,
 478.0: 178,
 464.0: 176,
 436.0: 174,
 303.0: 172,
 20.0: 171,
 644.0: 169,
 336.0: 165,
 620.0: 164,
 657.0: 163,
 519.0: 160,
 76.0: 159,
 60.0: 158,
 862.0: 158,
 56.0: 157,
 489.0: 157,
 453.0: 156,
 492.0: 153,
 543.0: 152,
 132.0: 151,
 906.0: 151,
 884.0: 148,
 988.0: 148,
 582.0: 145,
 661.0: 144,
 741.0: 144,
 811.0: 144,
 267.0: 143,
 123.0: 143,
 41.0: 143,
 407.0: 143,
 737.0: 142,
 883.0: 142,
 554.0: 142,
 987.0: 141,
 70.0: 140,
 501.0: 140,
 857.0: 138,
 131.0: 138,
 643.0: 138,
 909.0: 137,
 125.0: 137,
 921.0: 137,
 778.0: 136,
 38.0: 135,
 201.0: 135,
 963.0: 134,
 776.0: 134,
 270.0: 133,
 357.0: 132,
 229.0: 132,
 505.0: 130,
 788.0: 129,
 740.0: 128,
 158.0: 128,
 415.0: 126,
 385.0: 126,
 545.0: 124,
 660.0: 123,
 916.0: 123,
 867.0: 123,
 269.0: 122,
 728.0: 122,
 854.0: 121,
 546.0: 120,
 975.0: 120,
 511.0: 120,
 868.0: 119,
 155.0: 119,
 168.0: 118,
 340.0: 118,
 669.0: 117,
 459.0: 117,
 356.0: 116,
 21.0: 116,
 40.0: 116,
 352.0: 115,
 264.0: 115,
 914.0: 115,
 337.0: 114,
 645.0: 114,
 748.0: 114,
 497.0: 114,
 28.0: 114,
 283.0: 112,
 72.0: 112,
 513.0: 110,
 24.0: 110,
 218.0: 107,
 824.0: 107,
 496.0: 106,
 134.0: 106,
 983.0: 105,
 700.0: 105,
 514.0: 105,
 479.0: 104,
 562.0: 103,
 842.0: 103,
 989.0: 103,
 782.0: 103,
 457.0: 102,
 463.0: 101,
 71.0: 101,
 183.0: 101,
 835.0: 100,
 483.0: 100,
 837.0: 100,
 596.0: 98,
 626.0: 97,
 673.0: 97,
 761.0: 97,
 777.0: 97,
 823.0: 96,
 974.0: 96,
 349.0: 96,
 156.0: 96,
 965.0: 95,
 266.0: 94,
 760.0: 94,
 770.0: 92,
 30.0: 92,
 274.0: 92,
 629.0: 92,
 759.0: 90,
 578.0: 90,
 856.0: 90,
 894.0: 90,
 159.0: 89,
 75.0: 87,
 707.0: 87,
 941.0: 86,
 307.0: 85,
 185.0: 85,
 358.0: 85,
 577.0: 84,
 614.0: 84,
 205.0: 83,
 547.0: 83,
 271.0: 82,
 806.0: 82,
 471.0: 82,
 670.0: 81,
 179.0: 79,
 977.0: 79,
 869.0: 79,
 37.0: 78,
 654.0: 77,
 477.0: 77,
 388.0: 77,
 96.0: 76,
 42.0: 76,
 865.0: 74,
 542.0: 74,
 515.0: 73,
 810.0: 73,
 342.0: 73,
 617.0: 73,
 674.0: 72,
 623.0: 72,
 226.0: 72,
 416.0: 72,
 408.0: 72,
 421.0: 72,
 157.0: 72,
 215.0: 71,
 696.0: 70,
 786.0: 70,
 304.0: 70,
 240.0: 70,
 821.0: 69,
 5.0: 69,
 36.0: 68,
 414.0: 68,
 228.0: 68,
 467.0: 67,
 565.0: 67,
 815.0: 67,
 420.0: 67,
 187.0: 67,
 409.0: 66,
 196.0: 66,
 59.0: 66,
 133.0: 66,
 199.0: 66,
 805.0: 65,
 90.0: 65,
 62.0: 65,
 152.0: 65,
 306.0: 64,
 99.0: 64,
 348.0: 64,
 947.0: 64,
 98.0: 63,
 381.0: 63,
 747.0: 63,
 584.0: 63,
 335.0: 62,
 685.0: 62,
 923.0: 61,
 95.0: 61,
 484.0: 60,
 787.0: 60,
 816.0: 59,
 535.0: 59,
 959.0: 59,
 488.0: 58,
 829.0: 58,
 73.0: 58,
 339.0: 57,
 97.0: 57,
 239.0: 57,
 423.0: 57,
 808.0: 57,
 456.0: 56,
 755.0: 56,
 380.0: 56,
 68.0: 55,
 273.0: 55,
 288.0: 55,
 333.0: 55,
 571.0: 55,
 224.0: 55,
 615.0: 54,
 744.0: 54,
 904.0: 54,
 296.0: 53,
 675.0: 53,
 825.0: 53,
 22.0: 52,
 604.0: 52,
 61.0: 51,
 504.0: 51,
 557.0: 51,
 137.0: 51,
 186.0: 51,
 659.0: 50,
 35.0: 50,
 820.0: 50,
 369.0: 50,
 579.0: 50,
 268.0: 50,
 311.0: 49,
 710.0: 48,
 593.0: 48,
 713.0: 48,
 566.0: 48,
 758.0: 48,
 94.0: 48,
 31.0: 47,
 656.0: 47,
 468.0: 47,
 500.0: 47,
 769.0: 46,
 955.0: 46,
 915.0: 46,
 260.0: 46,
 384.0: 46,
 465.0: 46,
 154.0: 46,
 734.0: 46,
 693.0: 45,
 601.0: 45,
 822.0: 45,
 151.0: 45,
 139.0: 45,
 289.0: 45,
 844.0: 45,
 544.0: 45,
 486.0: 44,
 6.0: 43,
 768.0: 43,
 33.0: 43,
 846.0: 43,
 843.0: 42,
 368.0: 42,
 272.0: 42,
 376.0: 41,
 976.0: 41,
 351.0: 40,
 245.0: 40,
 353.0: 40,
 81.0: 40,
 940.0: 40,
 52.0: 40,
 804.0: 40,
 827.0: 40,
 506.0: 39,
 606.0: 39,
 462.0: 39,
 437.0: 39,
 655.0: 39,
 261.0: 38,
 838.0: 38,
 572.0: 38,
 197.0: 38,
 32.0: 38,
 574.0: 37,
 230.0: 37,
 564.0: 37,
 539.0: 36,
 687.0: 36,
 828.0: 35,
 832.0: 35,
 334.0: 35,
 510.0: 35,
 745.0: 34,
 736.0: 34,
 738.0: 34,
 11.0: 34,
 114.0: 32,
 814.0: 32,
 12.0: 32,
 553.0: 32,
 53.0: 32,
 466.0: 32,
 518.0: 32,
 302.0: 32,
 256.0: 32,
 735.0: 31,
 619.0: 31,
 922.0: 30,
 754.0: 30,
 642.0: 30,
 555.0: 30,
 779.0: 30,
 598.0: 29,
 746.0: 29,
 222.0: 29,
 561.0: 28,
 803.0: 28,
 833.0: 28,
 138.0: 28,
 749.0: 28,
 198.0: 28,
 485.0: 27,
 370.0: 27,
 89.0: 27,
 902.0: 27,
 560.0: 26,
 124.0: 26,
 225.0: 26,
 686.0: 26,
 653.0: 26,
 259.0: 26,
 712.0: 26,
 382.0: 26,
 726.0: 26,
 58.0: 26,
 115.0: 25,
 858.0: 25,
 668.0: 25,
 876.0: 24,
 345.0: 23,
 540.0: 23,
 887.0: 23,
 495.0: 23,
 34.0: 22,
 434.0: 22,
 826.0: 22,
 102.0: 22,
 625.0: 22,
 949.0: 21,
 830.0: 21,
 410.0: 21,
 780.0: 21,
 969.0: 21,
 739.0: 21,
 549.0: 21,
 188.0: 20,
 113.0: 20,
 424.0: 20,
 508.0: 20,
 121.0: 20,
 801.0: 20,
 799.0: 20,
 458.0: 19,
 129.0: 19,
 886.0: 19,
 628.0: 18,
 1.0: 18,
 727.0: 18,
 338.0: 18,
 534.0: 18,
 14.0: 18,
 231.0: 18,
 475.0: 17,
 16.0: 17,
 664.0: 17,
 498.0: 16,
 262.0: 16,
 541.0: 16,
 595.0: 16,
 10.0: 16,
 709.0: 16,
 600.0: 16,
 667.0: 15,
 499.0: 15,
 294.0: 15,
 905.0: 15,
 347.0: 15,
 630.0: 15,
 332.0: 14,
 849.0: 14,
 597.0: 14,
 663.0: 14,
 576.0: 14,
 182.0: 14,
 750.0: 14,
 350.0: 14,
 559.0: 14,
 8.0: 14,
 616.0: 14,
 422.0: 14,
 255.0: 14,
 802.0: 14,
 284.0: 13,
 130.0: 13,
 63.0: 13,
 913.0: 13,
 717.0: 13,
 80.0: 13,
 757.0: 13,
 232.0: 13,
 263.0: 13,
 147.0: 13,
 711.0: 12,
 9.0: 12,
 622.0: 12,
 592.0: 12,
 903.0: 12,
 800.0: 12,
 67.0: 12,
 346.0: 12,
 265.0: 12,
 836.0: 12,
 13.0: 12,
 150.0: 12,
 570.0: 11,
 722.0: 11,
 550.0: 11,
 341.0: 11,
 845.0: 11,
 695.0: 11,
 413.0: 11,
 344.0: 10,
 487.0: 10,
 383.0: 10,
 146.0: 10,
 78.0: 10,
 950.0: 10,
 723.0: 9,
 258.0: 9,
 77.0: 9,
 476.0: 9,
 116.0: 9,
 594.0: 9,
 935.0: 9,
 573.0: 8,
 503.0: 8,
 88.0: 8,
 412.0: 8,
 533.0: 8,
 507.0: 8,
 135.0: 8,
 725.0: 8,
 122.0: 8,
 901.0: 8,
 474.0: 8,
 425.0: 7,
 285.0: 7,
 117.0: 7,
 666.0: 7,
 718.0: 7,
 855.0: 7,
 411.0: 7,
 785.0: 7,
 697.0: 7,
 223.0: 7,
 831.0: 7,
 939.0: 6,
 715.0: 6,
 575.0: 6,
 148.0: 6,
 538.0: 6,
 970.0: 6,
 672.0: 6,
 730.0: 6,
 624.0: 6,
 729.0: 6,
 783.0: 5,
 548.0: 5,
 509.0: 5,
 671.0: 5,
 257.0: 5,
 537.0: 5,
 839.0: 5,
 818.0: 5,
 934.0: 5,
 817.0: 5,
 79.0: 5,
 784.0: 4,
 688.0: 4,
 295.0: 4,
 290.0: 4,
 618.0: 4,
 716.0: 3,
 297.0: 3,
 298.0: 3,
 662.0: 2,
 928.0: 2,
 17.0: 2,
 756.0: 2,
 241.0: 2,
 848.0: 2,
 797.0: 2,
 819.0: 2,
 999.0: 2,
 665.0: 1,
 692.0: 1,
 461.0: 1,
 15.0: 1,
 319.0: 1,
 691.0: 1,
 998.0: 1,
 895.0: 1,
 798.0: 1}

In [63]:
df = generic_util_instance.replace_nan(df, 'drg_code', 0.0)
df.drg_code.isna().sum()

0

In [64]:
df.drug.isna().sum()

24774

In [65]:
df.drug.value_counts().to_dict()

{'Erythromycin 0.5% Ophth Oint': 52253,
 'Sodium Chloride 0.9%  Flush': 32575,
 'Influenza Vaccine Quadrivalent': 17229,
 'Influenza Virus Vaccine': 11106,
 'Aspirin': 5148,
 'Heparin': 4488,
 '0.9% Sodium Chloride': 4363,
 'Iso-Osmotic Dextrose': 4020,
 'PNEUMOcoccal 23-valent polysaccharide vaccine': 3930,
 'Bag': 3912,
 'Acetaminophen': 3522,
 'Pneumococcal Vac Polyvalent': 3078,
 '5% Dextrose': 3052,
 'Senna': 2804,
 'Bisacodyl': 2636,
 'Docusate Sodium': 2630,
 '1/2 NS': 2492,
 'Insulin': 1951,
 'Multivitamins': 1875,
 'Aspirin EC': 1750,
 'Naloxone': 1748,
 'D10W': 1702,
 'Levothyroxine Sodium': 1688,
 'NS': 1631,
 'SW': 1523,
 'Glucagon': 1453,
 'Vial': 1349,
 'Lisinopril': 1294,
 'Ondansetron': 1273,
 'Omeprazole': 1202,
 'Atorvastatin': 1171,
 'Lactated Ringers': 1148,
 '0.45% Sodium Chloride': 1125,
 'Atenolol': 1098,
 'D5 1/2NS': 1034,
 'LR': 1001,
 'Sodium Chloride 0.9%': 998,
 'Simvastatin': 908,
 'Amlodipine': 900,
 'Hepatitis B Vaccine': 861,
 'D5W': 856,
 'Morphine Sulfate': 805,
 'Sterile Water': 786,
 'Send 500mg Vial': 764,
 'Vitamin D': 764,
 'Hydrochlorothiazide': 703,
 'Lorazepam': 598,
 'CefazoLIN': 592,
 'Enoxaparin Sodium': 578,
 'Vancomycin': 541,
 'Nicotine Patch': 539,
 'Diazepam': 534,
 'Warfarin': 510,
 'Soln': 501,
 'Pantoprazole': 484,
 'Iso-Osmotic Sodium Chloride': 477,
 'HYDROmorphone (Dilaudid)': 468,
 'CefePIME': 460,
 'FoLIC Acid': 454,
 'Glucose Gel': 428,
 'Phytonadione (Vitamin K1) (for L&D to NBN order set use only)': 420,
 'Furosemide': 409,
 'Heparin Flush (10 units/mL)': 391,
 'Sertraline': 385,
 'Clopidogrel': 370,
 'PredniSONE': 367,
 'Gabapentin': 364,
 'Thiamine': 363,
 'Syringe': 362,
 'Ibuprofen': 356,
 'Fluoxetine': 354,
 'BuPROPion (Sustained Release)': 351,
 'Allopurinol': 341,
 'Metoprolol Succinate XL': 338,
 'Phytonadione (Vitamin K1)': 335,
 'Ketorolac': 329,
 'Citalopram Hydrobromide': 328,
 'Nephrocaps': 328,
 'Citalopram': 323,
 '0.9% Sodium Chloride (Mini Bag Plus)': 292,
 'Dextrose 5%': 290,
 'Famotidine': 282,
 'Metoprolol Tartrate': 274,
 'Naloxone HCl': 249,
 'Heparin Flush (10 units/ml)': 229,
 'Dextrose 50%': 227,
 'Syringe (Neonatal)': 225,
 'TraMADol': 224,
 'Fluticasone Propionate NASAL': 217,
 'Ferrous Sulfate': 210,
 'CeftriaXONE': 202,
 'CeFAZolin': 200,
 'Losartan Potassium': 198,
 'Pregabalin': 198,
 'Valsartan': 195,
 'CefTRIAXone': 194,
 'Calcium Gluconate': 189,
 'Propofol': 181,
 'Finasteride': 180,
 'Vaccine Book': 179,
 'D5NS': 175,
 'Syringe (Neonatal) *NS*': 174,
 'Fentanyl Citrate': 174,
 'Escitalopram Oxalate': 173,
 'Ramelteon': 171,
 '0.83% Sodium Chloride': 169,
 'LORazepam': 162,
 'Pravastatin': 156,
 'Nadolol': 156,
 'Simethicone': 155,
 'Calcium Carbonate': 151,
 'Amiodarone': 150,
 'Ranitidine': 150,
 'Scopolamine Patch': 148,
 'HydrOXYzine': 148,
 'Tiotropium Bromide': 148,
 'Acetaminophen IV': 148,
 'Meropenem': 146,
 'Nicotine Polacrilex': 146,
 'Diltiazem Extended-Release': 146,
 'Polyethylene Glycol': 146,
 'Paroxetine': 145,
 'Rosuvastatin Calcium': 145,
 'Venlafaxine XR': 144,
 'Starter PN D10': 143,
 'D5LR': 141,
 'Duloxetine': 139,
 'amLODIPine': 136,
 'NEO*IM*Hepatitis B Vaccine': 133,
 'Albuterol 0.083% Neb Soln': 132,
 'Montelukast Sodium': 131,
 'Potassium Chloride': 129,
 'Haloperidol': 127,
 'Potassium Chl 20 mEq / 1000 mL D5 1/2 NS': 127,
 'Digoxin': 125,
 'Sucrose Solution 24%': 123,
 'Lidocaine Jelly 2% (Glydo)': 123,
 'Chlorhexidine Gluconate 0.12% Oral Rinse': 120,
 'Bupivacaine 0.1%': 117,
 'LaMOTrigine': 117,
 'OxyCODONE (Immediate Release)': 116,
 'Triple Dye': 115,
 'OxycoDONE (Immediate Release) ': 114,
 'Lidocaine 5% Patch': 110,
 'Albuterol Inhaler': 109,
 'Dexamethasone': 107,
 'Metoclopramide': 107,
 'DiphenhydrAMINE': 103,
 'traZODONE': 102,
 'Acyclovir': 100,
 'Heparin Flush (1 unit/mL)': 100,
 'Milk of Magnesia': 99,
 'Clonazepam': 96,
 'Aripiprazole': 94,
 'Syringe (0.9% Sodium Chloride)': 94,
 'Docusate Sodium (Liquid)': 93,
 'Labetalol': 93,
 'Lansoprazole Oral Disintegrating Tab': 91,
 'TraZODone': 91,
 'Cyanocobalamin': 89,
 'NIFEdipine CR': 89,
 'Tuberculin Protein': 89,
 'Ezetimibe': 88,
 'Yellow CADD Cassette': 87,
 'MoviPrep': 86,
 'Levofloxacin': 85,
 'CefTAZidime': 83,
 'ClonazePAM': 82,
 'Calcitriol': 81,
 'Oxycodone-Acetaminophen': 81,
 'Tamsulosin': 79,
 'Midodrine': 78,
 'Lidocaine Jelly 2% (Urojet)': 78,
 'Atropine Sulfate': 78,
 'Isotonic Sodium Chloride': 77,
 'Ampicillin Sodium': 77,
 'Spironolactone': 77,
 'Syringe (Neonatal) *D5W*': 76,
 'LOPERamide': 73,
 'OLANZapine': 73,
 'Gentamicin': 73,
 'Syringe (Iso-Osmotic Dextrose)': 72,
 'HydrALAzine': 70,
 'Enalapril Maleate': 69,
 'Prenatal Vitamins': 68,
 'Fat Emulsion': 68,
 'Isosorbide Mononitrate (Extended Release)': 66,
 'Phenazopyridine': 65,
 'Tacrolimus': 65,
 'Ascorbic Acid': 64,
 'Gentamicin Sulfate': 64,
 'Oxytocin': 63,
 'Multivitamins W/minerals': 62,
 'Risperidone': 62,
 'Quetiapine Fumarate': 62,
 'Lidocaine 1%': 61,
 'Torsemide': 60,
 'Carbidopa-Levodopa (25-100)': 60,
 'LeVETiracetam': 60,
 'Terazosin': 58,
 'Methadone': 58,
 'Topiramate (Topamax)': 57,
 'Oxazepam': 57,
 'HydrALAZINE': 56,
 'MetFORMIN (Glucophage)': 55,
 'Phytonadione': 54,
 'Fexofenadine': 54,
 'Metolazone': 54,
 'Tizanidine': 53,
 'Aluminum-Magnesium Hydrox.-Simethicone': 52,
 'Ciprofloxacin HCl': 52,
 'GlyBURIDE': 52,
 'Olanzapine': 51,
 'D12.5W': 50,
 'Soln.': 50,
 'NS (Mini Bag Plus)': 49,
 'Diltiazem': 49,
 'Emtricitabine-Tenofovir (Truvada)': 47,
 'GlipiZIDE': 46,
 'Sulfameth/Trimethoprim SS': 46,
 'Sulfameth/Trimethoprim DS': 46,
 'Golytely': 46,
 'Misoprostol': 44,
 '5% Dextrose (Syringe)': 44,
 'Cepacol (Menthol)': 44,
 'Phenytoin': 43,
 'Loperamide': 43,
 'Naproxen': 42,
 'RisperiDONE': 42,
 'Magnesium Sulfate': 42,
 'Nitroglycerin SL': 40,
 'Loratadine': 40,
 'Lactulose': 39,
 'Epidural Bag': 37,
 'ALPRAZolam': 37,
 'Triamterene-Hydrochlorothiazide': 37,
 'Prochlorperazine': 36,
 'Apixaban': 36,
 '0.9 % Sodium Chloride': 36,
 'Baclofen': 36,
 'BusPIRone': 36,
 'Lithium Carbonate': 35,
 'Poractant alfa': 35,
 'Prazosin': 35,
 'Potassium Chloride (1mEq/100mL)': 35,
 'Fluticasone Propionate 110mcg': 34,
 'Colchicine': 34,
 'Syringe (Chemo)': 34,
 'Potassium Chl 20 mEq / 1000 mL D5LR': 34,
 'AMP': 33,
 'Sirolimus': 33,
 'Lidocaine 1% (Buffered)': 33,
 'Nafcillin': 33,
 'Donepezil': 33,
 'QUEtiapine Fumarate': 33,
 'FLUoxetine': 33,
 'DOPamine': 32,
 'Ramipril': 32,
 'Metoprolol XL (Toprol XL)': 32,
 'EPINEPHrine': 32,
 'Carvedilol': 31,
 'Multivitamin IV': 31,
 'Psyllium': 31,
 'Oxcarbazepine': 31,
 'Daptomycin': 31,
 'Potassium Chl 40 mEq / 1000 mL NS': 31,
 'Bupivacaine 0.5%': 30,
 'BuPROPion': 30,
 'Bacitracin Ointment': 30,
 'Meperidine': 30,
 'Divalproex (DELayed Release)': 30,
 'Ursodiol': 30,
 'Zolpidem Tartrate': 30,
 'CloniDINE': 30,
 'Mycophenolate Mofetil': 30,
 'Tetanus-DiphTox-Acellular Pertuss (Adacel)': 29,
 'Azathioprine': 29,
 'Potassium Chl 20 mEq / 1000 mL NS': 29,
 'Cyclobenzaprine': 29,
 'Cetirizine': 28,
 'Felodipine': 28,
 'LevETIRAcetam': 28,
 'Heparin Flush (100 units/ml)': 28,
 'Fish Oil (Omega 3)': 28,
 'Insulin Pump (Self Administering Medication)': 28,
 'Hydroxychloroquine Sulfate': 27,
 'Methimazole': 27,
 'Timolol Maleate 0.5%': 27,
 'MethylPREDNISolone Sodium Succ': 27,
 'Azithromycin': 26,
 'Doxycycline Hyclate': 26,
 'Fludrocortisone Acetate': 26,
 'Venlafaxine': 26,
 'Prismasate (B32 K2)': 26,
 'Oxycodone-Acetaminophen (5mg-325mg)': 26,
 'Chlorthalidone': 26,
 'Blue CADD Cassette': 26,
 'Phenytoin Sodium Extended': 25,
 'Alteplase': 25,
 '10% Dextrose (Syringe)': 24,
 'Propranolol': 24,
 'Zonisamide': 24,
 'Enoxaparin (Prophylaxis)': 24,
 'Alprazolam': 24,
 'Propranolol LA': 24,
 'Midazolam': 24,
 'Flecainide Acetate': 24,
 'Ipratropium-Albuterol Neb': 24,
 'TraMADOL (Ultram)': 24,
 'Norepinephrine': 23,
 'Clopidogrel Bisulfate': 23,
 'Benztropine Mesylate': 23,
 'Meclizine': 22,
 'ARIPiprazole': 22,
 'MetFORMIN XR (Glucophage XR)': 22,
 'OxyCODONE SR (OxyconTIN)': 22,
 'Hydrocortisone': 22,
 'Fluticasone-Salmeterol Diskus (250/50) ': 22,
 'Pioglitazone': 22,
 'Doxazosin': 22,
 'TiCAGRELOR': 22,
 'Filgrastim': 21,
 'LamoTRIgine': 21,
 'Captopril': 21,
 'Cephalexin': 20,
 'MetRONIDAZOLE (FLagyl)': 20,
 'Efavirenz': 20,
 'Quinapril': 20,
 'Mupirocin Ointment 2%': 20,
 'Acetaminophen (Liquid)': 19,
 'CloNIDine': 19,
 'GlipiZIDE XL': 19,
 'Oxycodone SR (OxyconTIN)': 19,
 'Estrogens Conjugated': 19,
 'Fentanyl': 19,
 'Heparin Sodium (Preservative Free)': 19,
 'PHENObarbital': 18,
 'Propofol 1000mg/100mL 100mL VIAL': 18,
 'Ipratropium Bromide Neb': 18,
 'Alendronate Sodium': 18,
 'Atazanavir': 18,
 'Avapro': 18,
 'Prismasate (B22 K4)': 18,
 'Mirtazapine': 18,
 'Sucralfate': 18,
 'MetroNIDAZOLE': 17,
 'Carbamazepine': 17,
 'Sodium Bicarbonate': 17,
 'Divalproex (EXTended Release)': 17,
 'Magnesium Oxide': 17,
 'Promethazine': 17,
 'Ondansetron ODT': 17,
 'Heparin Flush CVL  (100 units/ml)': 17,
 'NEO*SC*Phytonadione': 17,
 'Creon 12': 17,
 'Neutra-Phos': 17,
 'Amitriptyline': 16,
 'Memantine': 16,
 'Nitrofurantoin Monohyd (MacroBID)': 16,
 'Aspirin (Buffered)': 16,
 'Beractant': 16,
 'Morphine SR (MS Contin)': 16,
 'Montelukast': 16,
 'Tenofovir Disoproxil (Viread)': 16,
 'RiTONAvir': 16,
 'Aztreonam': 16,
 'Milrinone': 16,
 'Hydroxyurea': 16,
 'Potassium Chl 20 mEq / 1000 mL D5NS': 16,
 'MethylPHENIDATE (Ritalin)': 16,
 'Acetylcysteine 20%': 15,
 'MedroxyPROGESTERone Acetate': 15,
 'Rivaroxaban': 15,
 'Oxybutynin': 15,
 'Mesna': 15,
 'Artificial Tears': 15,
 'Estradiol': 15,
 'PARoxetine': 15,
 'Entecavir': 15,
 'Insulin Pump': 15,
 'Mercaptopurine': 14,
 'Fenofibrate': 14,
 'Methocarbamol': 14,
 'Clonidine Patch 0.1 mg/24 hr': 14,
 'Indomethacin': 14,
 'Temazepam': 14,
 'Verapamil SR': 14,
 'NORepinephrine': 14,
 'Clindamycin': 14,
 '5% Dextrose (EXCEL BAG)': 14,
 'Gemfibrozil': 13,
 'NIFEdipine': 13,
 'DULoxetine': 13,
 'Adderall XR': 13,
 'Brimonidine Tartrate 0.15% Ophth.': 13,
 'Tamoxifen Citrate': 13,
 'Mouth Care Oral Rinse': 13,
 'OSELTAMivir': 13,
 'Albumin 5% (12.5g / 250mL)': 12,
 'Starter PN D5': 12,
 'Benzonatate': 12,
 'Sodium Chloride 0.45% Flush': 12,
 'Sodium Citrate': 12,
 'NS Syringe (Intrapleural)': 12,
 'Metoprolol': 12,
 'Azithromycin ': 12,
 'Sotalol': 12,
 'Methylprednisolone': 12,
 'Methylnaltrexone': 12,
 'Vitamin B Complex': 11,
 'Epoetin Alfa': 11,
 'BuPROPion XL (Once Daily)': 11,
 'Thyroid': 11,
 'CARVedilol': 11,
 'Mannitol 20 %': 11,
 'Verapamil': 11,
 'Albuterol-Ipratropium': 11,
 'DOXOrubicin': 11,
 'Dapsone': 11,
 'Pyridoxine': 11,
 'TB Syringe': 11,
 'RISperidone': 11,
 'Epinephrine': 11,
 'Syringe (NS)': 11,
 'Diazepam - CIWA protocol': 11,
 'Fluticasone-Salmeterol Diskus (100/50)': 10,
 'Adderall': 10,
 'Olanzapine (Disintegrating Tablet)': 10,
 'Promethazine HCl': 10,
 'Fluconazole': 10,
 'Dorzolamide 2%/Timolol 0.5% Ophth.': 10,
 'Mannitol 20%': 10,
 'PrednisoLONE Acetate 1% Ophth. Susp.': 10,
 'Vancomycin Oral Liquid': 10,
 'Mesalamine DR': 10,
 'Albumin 5% (25g / 500mL)': 10,
 'DOBUTamine': 10,
 'Amoxicillin-Clavulanic Acid': 10,
 'Hydrocortisone Na Succ.': 10,
 'Hepatitis B Immune Globulin': 10,
 'D15W': 10,
 'CeftazIDIME': 10,
 'Cytarabine': 10,
 'Fentanyl Patch': 10,
 'Hydrocodone-Acetaminophen': 9,
 'ChlorproMAZINE': 9,
 'Syringe (Neonatal) *D10W*': 9,
 'Micafungin': 9,
 'Heparin Sodium': 9,
 'Isosorbide Dinitrate': 9,
 'Amoxicillin': 9,
 'Mesalamine (Rectal)': 9,
 'Ropinirole': 9,
 'Valproic Acid': 9,
 'Fluvoxamine Maleate': 9,
 'Buprenorphine-Naloxone (8mg-2mg)': 9,
 'Chloraseptic Throat Spray': 9,
 'ValGANCIclovir': 9,
 'Bumetanide': 9,
 'Dofetilide': 9,
 'Artificial Tear Ointment': 9,
 'Sodium Chloride': 9,
 '0.9% Sodium Chloride (Syringe)': 9,
 'Namenda': 9,
 'Sodium Chloride (2 mEq/100mL)': 9,
 'Liothyronine Sodium': 9,
 '5 Syringes (NS)': 9,
 'Carbamazepine XR': 9,
 'Sumatriptan Succinate': 9,
 'CycloSPORINE (Neoral) MODIFIED': 9,
 'Provigil': 9,
 'Vitamin D Oral Liquid': 8,
 'Syringe (Intraperitoneal)': 8,
 'Arimidex': 8,
 'Acetaminophen-Caff-Butalbital': 8,
 'Calcium Acetate': 8,
 'Phenytoin (Suspension)': 8,
 'Nitroglycerin': 8,
 'LaMIVudine': 8,
 'Acetaminophen w/Codeine': 8,
 'Miconazole Powder 2%': 8,
 'Ribavirin': 8,
 'Calcitonin Salmon': 8,
 'Moexipril': 8,
 'Divalproex Sodium': 8,
 'Amantadine': 8,
 'Esmolol': 8,
 'Albumin 25% (12.5g / 50mL)': 8,
 'Morphine Sulfate IR': 7,
 'Heparin Dwell (1000 Units/mL)': 7,
 'Dermoplast Spray': 7,
 'PrimiDONE': 7,
 'CarBAMazepine': 7,
 'Latanoprost 0.005% Ophth. Soln.': 7,
 'Readi-Cat 2 (Barium Sulfate 2% Suspension)': 7,
 'irbesartan': 7,
 'PHENYLEPHrine': 7,
 'Vitamin E': 7,
 'Perphenazine': 7,
 'Phenylephrine': 7,
 'Methylphenidate': 7,
 'OLANZapine (Disintegrating Tablet)': 7,
 'Quetiapine extended-release': 7,
 'Methylergonovine Maleate': 7,
 'Cholestyramine': 7,
 'Bicitra': 7,
 'Oseltamivir': 7,
 'Timolol Maleate 0.25%': 7,
 '300 mcg Vial': 7,
 'Pyridostigmine Bromide': 7,
 'Bengay Cream': 7,
 'Cepacol (Sore Throat Lozenge)': 7,
 'Potassium Chloride Replacement (Critical Care and Oncology) ': 7,
 'Bottle': 7,
 'Celecoxib': 7,
 'Clonidine Patch 0.3 mg/24 hr': 7,
 'Heparin Pres. Free': 6,
 'Erythromycin': 6,
 'Nalbuphine HCl': 6,
 'GuaiFENesin': 6,
 'Phosphorus': 6,
 'Tricor': 6,
 'Ferrous Gluconate': 6,
 'Cepastat (Phenol) Lozenge': 6,
 'D20W': 6,
 'Methylene Blue 1%': 6,
 'Abacavir Sulfate': 6,
 'Nortriptyline': 6,
 'OXcarbazepine': 6,
 'Propafenone HCl': 6,
 'Sodium Chloride 0.9%  (Mini Bag Plus)': 6,
 'Glycopyrrolate': 6,
 'Potassium Chloride (Powder)': 6,
 'NEO*PO*Ferrous Sulfate Elixir': 6,
 'Fluphenazine': 6,
 'Zidovudine': 6,
 'Budesonide': 6,
 'Fleet Enema': 6,
 'Ambisome': 6,
 'Prasugrel': 6,
 'Levetiracetam': 6,
 'Oseltamivir Phosphate': 6,
 'Ganciclovir': 6,
 'Clonidine Patch 0.2 mg/24 hr': 6,
 'Pseudoephedrine': 6,
 'Sarna Lotion': 6,
 'letrozole': 6,
 'Rituximab': 6,
 'Oxymetazoline': 6,
 'Benicar': 6,
 'Clevidipine': 6,
 'Hydrocerin': 6,
 'Sodium CITRATE 4%': 6,
 'Pramipexole': 5,
 'Eptifibatide': 5,
 'Gentamicin 0.3% Ophth. Soln': 5,
 'Isoniazid': 5,
 'Piperacillin-Tazobactam': 5,
 'Neo*Nasal*Sodium Chloride 0.9%': 5,
 'Caspofungin': 5,
 'Aquaphor': 5,
 'Niacin': 5,
 'Magnesium Citrate': 5,
 'Sodium Chloride Nasal': 5,
 'Hepatitis B Immune Globulin (Bayhep B)': 5,
 'Nimodipine': 5,
 'Clobetasol Propionate 0.05% Cream': 5,
 'Carbamazepine (Extended-Release)': 5,
 'Irbesartan': 5,
 'Nicotine Lozenge': 5,
 'Cinacalcet': 5,
 'Bortezomib': 5,
 'Tetracaine 0.5% Ophth Soln': 5,
 'Guaifenesin-CODEINE Phosphate': 5,
 'sevelamer CARBONATE': 5,
 'HYDROmorphone': 5,
 'Methylphenidate SR': 5,
 'Nitrofurantoin (Macrodantin)': 5,
 'SulfaSALAzine_': 5,
 'MetOLazone': 5,
 'Ziprasidone': 5,
 'Lidocaine Viscous 2%': 5,
 'Eplerenone': 5,
 'Tolterodine': 5,
 'MCT Oil': 5,
 'D5W (EXCEL BAG)': 5,
 'Ferrous GLUCONATE': 5,
 'Aerogen Syringe (NS)': 5,
 'Clozapine': 5,
 'CycloSPORINE (Sandimmune)': 5,
 'MetronidAZOLE Topical 1 % Gel': 5,
 'Dolutegravir': 5,
 'Alvimopan': 4,
 'Lithium Carbonate CR (Eskalith)': 4,
 'Carbidopa-Levodopa CR (50-200)': 4,
 'Syringe (Neonatal) *D10W**': 4,
 'QUEtiapine extended-release': 4,
 'NEO*PO*Zidovudine Syrup': 4,
 'NiCARdipine IV': 4,
 'Anastrozole': 4,
 'Gelclair': 4,
 'Bromocriptine Mesylate': 4,
 'Nystatin Oral Suspension': 4,
 'OxycoDONE Liquid': 4,
 'Minoxidil': 4,
 'Codeine Sulfate': 4,
 'Fentanyl 2.5mg 50mL Bag': 4,
 'NIFEdipine (Extended Release)': 4,
 'Pioglitazone HCl': 4,
 'ClomiPRAMINE': 4,
 'ValACYclovir': 4,
 'Ranitidine (Liquid)': 4,
 'Lidocaine 2%': 4,
 'Bisoprolol Fumarate': 4,
 'Zinc Sulfate': 4,
 'Amphetamine-Dextroamphetamine': 4,
 'PHENYLEPHrine (for dilution)': 4,
 'rOPINIRole': 4,
 'Syringe (0.45% Sodium Chloride)': 4,
 'NS (Syringe)': 4,
 'Evista': 4,
 'Lyrica': 4,
 'Clotrimazole Cream': 4,
 'Fluticasone-Salmeterol Diskus (500/50) ': 4,
 'Rifaximin': 4,
 'Sodium Polystyrene Sulfonate': 4,
 'Caffeine Citrate': 4,
 'Mesalamine': 4,
 'Desipramine': 4,
 'Syringe (Sterile Water)': 4,
 'Amiloride HCl': 4,
 'Vitamin B Complex w/C': 4,
 'Rosiglitazone Maleate': 4,
 'Tirofiban': 4,
 'NiMODipine': 4,
 'Lumigan': 4,
 '0.9% NaCl (EXCEL/ViaFLO BAG)': 4,
 'Megestrol Acetate': 4,
 'Potassium Chl 40 mEq / 1000 mL D5NS': 4,
 'Tiagabine': 3,
 'Piroxicam': 3,
 'Clobetasol Propionate 0.05% Ointment': 3,
 'Potassium Chl 40 mEq / 1000 mL D5 1/2 NS': 3,
 'Doxercalciferol': 3,
 'Dorzolamide 2% Ophth. Soln.': 3,
 'Bivalirudin': 3,
 'Ondansetron 4mg/2mL 2mL VIAL': 3,
 'OxycoDONE-Acetaminophen Elixir': 3,
 'Valtrex': 3,
 'Apri': 3,
 'leflunomide': 3,
 'Glycerin Supps': 3,
 'Vecuronium Bromide': 3,
 'Cyclopentolate 1%': 3,
 'Ranexa': 3,
 'Ciprofloxacin 0.3% Ophth Soln': 3,
 'Creon 10': 3,
 'NORepinephri 8mg/250mL 250mL BAG': 3,
 'Triamcinolone Acetonide 0.1% Cream': 3,
 'Maalox/Diphenhydramine/Lidocaine': 3,
 'Norethindrone-Estradiol': 3,
 'Aspirin ': 3,
 'Belladonna & Opium (16.2/30mg)': 3,
 'NS Epidural Bag': 3,
 'Verapamil HCl': 3,
 'Levobunolol 0.5%': 3,
 'OxyCODONE (Immediate Rel 5mg TAB': 3,
 'Soma': 3,
 'NEO*IV*Parenteral Nutrition': 3,
 'Dexmedetomidine': 3,
 'Iron Polysaccharides Complex': 3,
 'Psyllium Wafer': 3,
 'CISplatin': 3,
 'Ropinirole HCl': 3,
 'Albuterol MDI': 3,
 'Ertapenem Sodium': 3,
 'OxyCODONE--Acetaminophen (5mg-325mg)': 3,
 'Lithium Carbonate SR (Lithobid)': 3,
 'Potassium Phosphate': 3,
 'Dronabinol': 3,
 'Doxepin HCl': 3,
 'Pindolol': 3,
 'Alprostadil': 3,
 'Rifampin': 3,
 'Propylthiouracil': 3,
 'Stribild': 3,
 'Nabumetone': 3,
 'Theophylline SR': 3,
 'Carbidopa-Levodopa (25-250)': 3,
 'mannitol 20 %': 3,
 'Heparin PF (0.5 Units/mL)': 3,
 'HYDROcodone-Acetaminophen (5mg-325mg)': 3,
 'Activated Charcoal-Sorbitol': 3,
 'LACOSamide': 3,
 'Exemestane': 3,
 'Quinine Sulfate': 3,
 'Infliximab': 3,
 'Vasopressin': 3,
 'Calcium Chloride': 3,
 'IDArubicin': 3,
 'Heparin Flush PICC (100 units/ml)': 3,
 'Levoxyl': 3,
 'DICYCLOMine': 3,
 'Potassium C 20mEq/50mL 50mL IVPB': 3,
 'Syringe (Intrapleural)': 3,
 'Atropine Sulfate Ophth 1%': 3,
 'CARBOplatin': 3,
 'Niacin SR': 3,
 'Tretinoin (ATRA-All Transretinoic Acid)': 3,
 'Guaifenesin-Dextromethorphan': 3,
 'Dipyridamole-Aspirin': 3,
 'Tretinoin (ATRA, All-Transretinoic Acid)': 3,
 'Phenytoin Infatab': 3,
 'Letrozole': 3,
 'Carbidopa-Levodopa (25-100) ODT': 3,
 'Febuxostat': 3,
 'PHENYLEPHrine (QuVa)': 3,
 'Divalproex Sodium ER': 3,
 'NORepinephrine (in NS)': 3,
 'Glutamine': 3,
 'Ampicillin-Sulbactam': 3,
 'Divalproex Sod. Sprinkles': 3,
 'ZIPRASidone Hydrochloride': 3,
 'DiCYCLOmine': 3,
 'Dextrose 5%  (*Glass Bottle*)': 3,
 'Syringe (Neonatal) *SW*': 3,
 'Darunavir': 3,
 'Triamterene-HCTZ (37.5/25)': 3,
 'InFLIXimab': 3,
 'Ciprofloxacin IV': 3,
 'D30W': 2,
 'Imipramine': 2,
 'Junel FE 1/20 (28)': 2,
 'Prograf': 2,
 'Rytary': 2,
 'OxyCODONE Liquid': 2,
 'DULoxetine DR': 2,
 'Dipyridamole': 2,
 'Pristiq': 2,
 'Celebrex': 2,
 'LaMICtal XR': 2,
 'Wellbutrin XL': 2,
 'D25W': 2,
 'Carboprost Tromethamine': 2,
 'Etravirine': 2,
 'pramipexole': 2,
 'Mirapex': 2,
 'AcetaZOLamide': 2,
 'Concerta': 2,
 'Fentanyl PCA': 2,
 'Tri-Sprintec (28)': 2,
 'Mucinex': 2,
 'Disopyramide Phosphate': 2,
 'Sodium Bicarbonate 4.2% (2.4mEq)': 2,
 'Maalox/Lidocaine': 2,
 'Artificial Tears Preserv. Free': 2,
 'Myfortic': 2,
 'Isosorbide Mononitrate': 2,
 'Risperidone (Disintegrating Tablet)': 2,
 'Raltegravir': 2,
 'LaMIVudine-Zidovudine (Combivir)': 2,
 'Sodium Chloride 3% (Hypertonic)': 2,
 'Cyproheptadine': 2,
 'fenofibrate': 2,
 'rilpivirine': 2,
 'Aerogen Syringe (SW)': 2,
 'Ketamine': 2,
 'Triamterene': 2,
 '6 Syringes (NS)': 2,
 'Latuda': 2,
 'Tetanus-Diphtheria Tox (DECAVAC)': 2,
 'Docusate': 2,
 'anastrozole': 2,
 'Metoprolol Tart 5mg/5mL 5mL VIAL': 2,
 'Aminocaproic Acid': 2,
 'Clorazepate Dipotassium': 2,
 'Methyldopa': 2,
 'Syringe (Intrathecal)': 2,
 'Cisatracurium Besylate': 2,
 'Multivitamin Liquid': 2,
 'Modafinil': 2,
 'Provera': 2,
 'bisoprolol fumarate': 2,
 'Amiodarone (f 150mg/3mL 3mL Vial': 2,
 'Gastroview (Diatrizoate Meglumine & Sodium)': 2,
 'Flumazenil': 2,
 'Keppra': 2,
 'Humulin N': 2,
 'Isoproterenol': 2,
 'Fluticasone-Salmeterol (100/50)': 2,
 'CeleBREX': 2,
 'Paxil CR': 2,
 'Syringe (SW)': 2,

In [66]:
df = generic_util_instance.replace_nan(df, 'drug', 'None')
df.drug.isna().sum()

0

In [67]:
df = generic_util_instance.replace_column_value(df, 'drug', 3000, 'Other')
df.drug.value_counts()

Other                                            83346
Erythromycin 0.5% Ophth Oint                     52253
Sodium Chloride 0.9%  Flush                      32575
None                                             24774
Influenza Vaccine Quadrivalent                   17229
Influenza Virus Vaccine                          11106
Aspirin                                           5148
Heparin                                           4488
0.9% Sodium Chloride                              4363
Iso-Osmotic Dextrose                              4020
PNEUMOcoccal 23-valent polysaccharide vaccine     3930
Bag                                               3912
Acetaminophen                                     3522
Pneumococcal Vac Polyvalent                       3078
5% Dextrose                                       3052
Name: drug, dtype: int64

In [68]:
df.route.isna().sum()

24984

In [69]:
df.route.value_counts().to_dict()

{'IV': 75633,
 'BOTH EYES': 52349,
 'IM': 38930,
 'PO': 30329,
 'PO/NG': 19024,
 'SC': 6960,
 'IV DRIP': 2961,
 'PIV': 993,
 'TD': 827,
 'IH': 530,
 'ORAL': 495,
 'TP': 456,
 'IVPCA': 278,
 'ED': 275,
 'NU': 254,
 'PR': 245,
 'NG': 190,
 'IV BOLUS': 112,
 'ID': 105,
 'DIALYS': 84,
 'DLUVC': 82,
 'UVC': 65,
 'PB': 65,
 'REPLACE': 62,
 'SL': 60,
 'OU': 51,
 'ET': 51,
 'BUCCAL': 48,
 'PERIPHNERVE': 34,
 'NEB': 33,
 'VG': 31,
 'LEFT EYE': 29,
 'PL': 29,
 'RIGHT EYE': 24,
 'IT': 23,
 'SUBCUT': 21,
 'DWELL': 15,
 'IP': 14,
 'NAS': 7,
 'IN': 4,
 'UAC': 3,
 'OD': 3,
 'OS': 3,
 'IMPELLA': 3,
 'IVT': 2,
 'LUMBAR PLEXUS': 2,
 'IR': 2,
 'INHALATION': 2,
 'PAL': 1,
 'LEFT EAR': 1,
 'BOTH EARS': 1,
 'PO OR ENTERAL TUBE': 1,
 'PICC': 1,
 'IA': 1,
 'INTRAVITREAL': 1,
 'G TUBE': 1,
 'LOCK': 1,
 'TT': 1,
 'AD': 1,
 'TRANSDERMAL': 1,
 'IRR': 1,
 'OG': 1}

In [70]:
df = generic_util_instance.replace_nan(df, 'route', 'None')
df.route.isna().sum()

0

In [71]:
df = generic_util_instance.replace_column_value(df, 'route', 2500, 'Other')
df.route.value_counts()

IV           75633
BOTH EYES    52349
IM           38930
PO           30329
None         24984
PO/NG        19024
SC            6960
Other         5626
IV DRIP       2961
Name: route, dtype: int64

In [72]:
df.org_name.isna().sum()

190676

In [73]:
df.org_name.value_counts().to_dict()

{'ESCHERICHIA COLI': 10847,
 'CANCELLED': 9466,
 'STAPH AUREUS COAG +': 7036,
 'GRAM POSITIVE BACTERIA': 4982,
 'YEAST': 4657,
 'STAPHYLOCOCCUS, COAGULASE NEGATIVE': 4215,
 'ENTEROCOCCUS SP.': 2879,
 'KLEBSIELLA PNEUMONIAE': 2330,
 'POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS': 1543,
 'POSITIVE FOR GROUP B BETA STREPTOCOCCI': 1529,
 'BETA STREPTOCOCCUS GROUP B': 1325,
 'PROTEUS MIRABILIS': 1103,
 'PSEUDOMONAS AERUGINOSA': 1031,
 'CORYNEBACTERIUM SPECIES (DIPHTHEROIDS)': 923,
 'MIXED BACTERIAL FLORA': 771,
 'VIRIDANS STREPTOCOCCI': 621,
 'BACTEROIDES FRAGILIS GROUP': 487,
 'PRESUMPTIVE GARDNERELLA VAGINALIS': 476,
 'BETA STREPTOCOCCUS GROUP A': 443,
 'GRAM NEGATIVE ROD(S)': 404,
 'KLEBSIELLA OXYTOCA': 357,
 'LACTOBACILLUS SPECIES': 341,
 'STREPTOCOCCUS ANGINOSUS (MILLERI) GROUP': 295,
 'SERRATIA MARCESCENS': 290,
 'ENTEROBACTER CLOACAE COMPLEX': 288,
 'STAPHYLOCOCCUS EPIDERMIDIS': 278,
 'ENTEROBACTER AEROGENES': 276,
 'GRAM POSITIVE COCCUS(COCCI)': 253,
 'PROPIONIBACTERIUM ACNES': 242,
 'S. AUREUS POSITIVE; MRSA NEGATIVE': 236,
 'HERPES SIMPLEX VIRUS TYPE 2': 206,
 'ANAEROBIC GRAM POSITIVE COCCUS(I)': 204,
 'ENTEROBACTER CLOACAE': 195,
 'HERPES SIMPLEX VIRUS TYPE 1': 181,
 'ENTEROCOCCUS FAECALIS': 178,
 'CITROBACTER FREUNDII COMPLEX': 176,
 'CITROBACTER KOSERI': 172,
 'MORGANELLA MORGANII': 167,
 'ENTEROCOCCUS FAECIUM': 165,
 'GRAM POSITIVE RODS': 161,
 'PROBABLE ENTEROCOCCUS': 154,
 'STREPTOCOCCUS PNEUMONIAE': 141,
 'PREVOTELLA SPECIES': 138,
 'CANDIDA ALBICANS': 124,
 'CANDIDA ALBICANS, PRESUMPTIVE IDENTIFICATION': 123,
 'BETA STREPTOCOCCI, NOT GROUP A': 110,
 'STAPHYLOCOCCUS SPECIES': 100,
 'YEAST, PRESUMPTIVELY NOT C. ALBICANS': 93,
 'PROBABLE MICROCOCCUS SPECIES': 93,
 'STAPHYLOCOCCUS SAPROPHYTICUS, PRESUMPTIVE IDENTIFICATION': 91,
 'CHLAMYDIA TRACHOMATIS': 90,
 'CLOSTRIDIUM DIFFICILE': 87,
 'NEGATIVE': 84,
 'STAPHYLOCOCCUS, COAGULASE NEGATIVE, PRESUMPTIVELY NOT S. SAPROPHYTICUS': 75,
 'CLOSTRIDIUM PERFRINGENS': 75,
 'PRESUMPTIVE STREPTOCOCCUS BOVIS': 74,
 'BETA STREPTOCOCCUS GROUP G': 74,
 'POSITIVE': 66,
 'PENICILLIUM SPECIES': 63,
 'CAMPYLOBACTER JEJUNI': 62,
 'ASPERGILLUS FUMIGATUS': 57,
 'TRICHOPHYTON SPECIES': 57,
 'CANDIDA GLABRATA': 54,
 'ANAEROBIC GRAM POSITIVE ROD(S)': 53,
 'BACILLUS SPECIES; NOT ANTHRACIS': 51,
 'PRESUMPTIVE PEPTOSTREPTOCOCCUS SPECIES': 45,
 'PROPIONIBACTERIUM SPECIES': 45,
 'FUSOBACTERIUM NUCLEATUM': 44,
 'CANDIDA PARAPSILOSIS': 42,
 'BETA STREPTOCOCCUS GROUP C': 41,
 'STENOTROPHOMONAS MALTOPHILIA': 40,
 'NEISSERIA GONORRHOEAE': 40,
 'CORYNEBACTERIUM UREALYTICUM SP. NOV.': 39,
 'POSITIVE FOR INFLUENZA A VIRAL ANTIGEN': 39,
 'SALMONELLA SPECIES': 38,
 'ACINETOBACTER BAUMANNII COMPLEX': 37,
 'HAEMOPHILUS INFLUENZAE, BETA-LACTAMASE NEGATIVE': 37,
 'MICROCOCCUS/STOMATOCOCCUS SPECIES': 35,
 'HAFNIA ALVEI': 27,
 'MOLD': 27,
 'STAPHYLOCOCCUS LUGDUNENSIS': 27,
 'VARICELLA-ZOSTER VIRUS': 26,
 'ASPERGILLUS NIGER': 26,
 'NEISSERIA SPECIES': 25,
 'FUSOBACTERIUM SPECIES': 24,
 'NON-FERMENTER, NOT PSEUDOMONAS AERUGINOSA': 24,
 'STAPHYLOCOCCUS HOMINIS': 23,
 'STREPTOCOCCUS ANGINOSUS': 22,
 'S. AUREUS POSITIVE; MRSA POSITIVE': 22,
 'VIRUS': 22,
 'AEROCOCCUS URINAE': 22,
 'CANDIDA TROPICALIS': 21,
 'PROVIDENCIA STUARTII': 20,
 'CLOSTRIDIUM SPECIES NOT C. PERFRINGENS OR C. SEPTICUM': 20,
 'HAEMOPHILUS SPECIES NOT INFLUENZAE': 19,
 'STREPTOCOCCUS SPECIES': 19,
 'MYCELIA STERILIA': 18,
 'POSITIVE FOR PNEUMOCYSTIS JIROVECII (CARINII)': 18,
 'ACIDFAST BACILLI': 18,
 'PROTEUS VULGARIS': 18,
 'POSITIVE FOR RESPIRATORY SYNCYTIAL VIRUS (RSV)': 17,
 'PRESUMPTIVE PROPIONIBACTERIUM ACNES': 17,
 'ANAEROBIC GRAM NEGATIVE ROD(S)': 17,
 'MYCOBACTERIUM AVIUM COMPLEX': 17,
 'PASTEURELLA SPECIES': 17,
 'MORAXELLA CATARRHALIS': 16,
 'HAEMOPHILUS INFLUENZAE, BETA-LACTAMASE POSITIVE': 16,
 'ACINETOBACTER BAUMANNII': 16,
 'FUSARIUM SPECIES': 15,
 'PROVIDENCIA RETTGERI': 15,
 'AEROCOCCUS SPECIES': 15,
 'CITROBACTER AMALONATICUS': 14,
 'PSEUDOMONAS PUTIDA ': 14,
 'TICK CONSISTENT WITH IXODES SPECIES': 14,
 'AEROCOCCUS VIRIDANS': 14,
 'STREPTOCOCCUS BOVIS ': 14,
 'ABIOTROPHIA/GRANULICATELLA SPECIES': 14,
 'POSITIVE FOR VARICELLA ZOSTER': 13,
 'ADENOVIRUS': 13,
 'CRYPTOCOCCUS NEOFORMANS': 13,
 'POSITIVE FOR CYTOMEGALOVIRUS': 13,
 'EIKENELLA CORRODENS': 13,
 'CLADOSPORIUM SPECIES': 13,
 'PASTEURELLA MULTOCIDA': 13,
 'ENTEROBACTER ASBURIAE': 12,
 'STREPTOCOCCUS GALLOLYTICUS SSP. PASTEURIANUS (STREPTOCOCCUS BOVIS)': 12,
 'MYCOBACTERIUM TUBERCULOSIS COMPLEX': 12,
 'PRESUMPTIVE VEILLONELLA SPECIES': 12,
 'GAMMA(I.E. NON-HEMOLYTIC) STREPTOCOCCUS': 12,
 'PORPHYROMONAS SPECIES': 11,
 'ENTEROBACTER SPECIES': 11,
 'PANTOEA SPECIES': 11,
 'PRESUMPTIVE CLOSTRIDIUM PERFRINGENS': 10,
 'STAPHYLOCOCCUS CAPITIS': 10,
 'LISTERIA MONOCYTOGENES': 10,
 'SALMONELLA SCHWARZENGRUND': 10,
 'ASPERGILLUS SP. NOT FUMIGATUS, FLAVUS OR NIGER': 10,
 'BLASTOCYSTIS HOMINIS': 9,
 'GEMELLA SPECIES': 9,
 'GRAM NEGATIVE ROD #1': 9,
 'BACILLUS SPECIES': 9,
 'CANDIDA DUBLINIENSIS': 8,
 'STREPTOCOCCUS MITIS/ORALIS': 8,
 'CYTOMEGALOVIRUS ': 8,
 'ENTEROCOCCUS CASSELIFLAVUS': 8,
 'CUTIBACTERIUM (PROPIONIBACTERIUM) ACNES': 8,
 'GRAM NEGATIVE ROD #2': 8,
 'POSITIVE FOR HERPES SIMPLEX TYPE 1 (HSV1)': 8,
 'POSITIVE FOR PARAINFLUENZA TYPE 3': 8,
 'BETA STREPTOCOCCUS': 8,
 'PRESUMPTIVE CLOSTRIDIUM SEPTICUM': 8,
 'SALMONELLA ENTERITIDIS': 7,
 'IXODES SPECIES': 7,
 'SHIGELLA FLEXNERI': 7,
 'PAECILOMYCES SPECIES': 7,
 'ASPERGILLUS TERREUS': 7,
 'PRESUMPTIVE POSITIVE FOR LEGIONELLA SEROGROUP 1 ANTIGEN': 7,
 'ASPERGILLUS FUMIGATUS COMPLEX': 7,
 'ACINETOBACTER SP.': 7,
 'CANDIDA KRUSEI': 7,
 'PSEUDOMONAS FLUORESCENS': 7,
 'STREPTOCOCCUS GORDONII': 6,
 'AEROMONAS HYDROPHILA': 6,
 'ACREMONIUM SPECIES': 6,
 'NEISSERIA MENINGITIDIS': 6,
 'STREPTOCOCCUS MUTANS': 6,
 'STAPHYLOCOCCUS HAEMOLYTICUS': 6,
 'SHIGELLA SONNEI': 6,
 'CAMPYLOBACTER SPECIES': 6,
 'MUCOR SP.': 6,
 'SERRATIA SPECIES': 6,
 'DEMATIACEOUS MOLD': 6,
 'CITROBACTER SPECIES': 6,
 'NOCARDIA ASTEROIDES COMPLEX ': 6,
 'POSITIVE FOR HERPES SIMPLEX TYPE 2 (HSV2)': 6,
 'PROTEUS SPECIES': 5,
 'RAOULTELLA PLANTICOLA': 5,
 'RESPIRATORY SYNCYTIAL VIRUS (RSV)': 5,
 'ALTERNARIA SP.': 5,
 'ENTEROVIRUS': 5,
 'LACTOCOCCUS SPECIES': 5,
 'SALMONELLA TYPHI': 5,
 'CANDIDA GUILLIERMONDII': 5,
 '2ND ISOLATE': 5,
 'LEGIONELLA PNEUMOPHILA, GROUP 1': 5,
 'STREPTOCOCCUS MILLERI GROUP': 5,
 'ENTEROBACTERIACEAE': 5,
 'RHIZOPUS SPECIES': 4,
 'SERRATIA LIQUEFACIENS': 4,
 'GEOTRICHIUM SPECIES': 4,
 'PROTEUS HAUSERI': 4,
 'BURKHOLDERIA CEPACIA GROUP': 4,
 'MYCOBACTERIUM FORTUITUM': 4,
 'CANDIDA LUSITANIAE': 4,
 'CURVULARIA SP.': 4,
 'ASPERGILLUS VERSICOLOR GROUP ': 4,
 'AEROMONAS SPECIES': 4,
 'ASPERGILLUS FLAVUS': 4,
 'STREPTOCOCCUS SANGUINIS': 4,
 'SALMONELLA TYPHIMURIUM': 4,
 'ACHROMOBACTER SP.': 4,
 'STAPHYLOCOCCUS WARNERI': 4,
 'STREPTOCOCCUS GALLOLYTICUS SSP. GALLOLYTICUS (STREPTOCOCCUS BOVIS)': 4,
 'ENDOLIMAX NANA': 4,
 'ENTEROCOCCUS GALLINARUM': 4,
 'ENTAMOEBA HARTMANNI': 4,
 'GIARDIA LAMBLIA SEEN': 4,
 'PARAINFLUENZA VIRUS TYPE 3': 4,
 'TRICHODERMA SP.': 4,
 'MICROSPORIDIUM SPECIES SEEN': 3,
 'PREVOTELLA (BACTEROIDES) SPECIES': 3,
 'CANDIDA SPECIES': 3,
 'STREPTOCOCCUS MITIS': 3,
 'MYCOBACTERIUM AVIUM': 3,
 'TICK NOT CONSISTENT WITH IXODES SPECIES': 3,
 'LEGIONELLA PNEUMOPHILA ': 3,
 'MYCOBACTERIUM ABSCESSUS': 3,
 'EXOPHIALA SPECIES': 3,
 'AGGREGATIBACTER (HAEMOPHILUS) APHROPHILUS': 3,
 'ENTEROBACTER GERGOVIAE': 3,
 'ESCHERICHIA COLI O157:H7': 3,
 'PROTEUS VULGARIS GROUP': 3,
 'ALCALIGENES SPECIES': 3,
 'STAPHYLOCOCCUS SIMULANS': 3,
 'ACHROMOBACTER SPECIES': 3,
 'RESEMBLING MICROCOCCUS/STOMATOCOCCUS SPECIES': 3,
 'SALMONELLA SAINTPAUL': 3,
 'PHOMA SPECIES': 3,
 'ROTHIA MUCILAGINOSA': 3,
 'STAPHYLOCOCCUS SAPROPHYTICUS': 3,
 'GRAM VARIABLE RODS': 3,
 'KOCURIA ROSEA': 3,
 'RHINOVIRUS': 3,
 'ENTEROCOCCUS AVIUM': 2,
 'SPHINGOMONAS PAUCIMOBILIS': 2,
 'HAEMOPHILUS SP': 2,
 'STREPTOCOCCUS SALIVARIUS': 2,
 'SHEWANELLA SPECIES': 2,
 'FEW BLASTOCYSTIS HOMINIS': 2,
 'PASTEURELLA CANIS': 2,
 'SALMONELLA INFANTIS': 2,
 'PARAINFLUENZA VIRUS TYPE 2': 2,
 'POSITIVE FOR PARAINFLUENZA TYPE 1': 2,
 'TAENIA SAGINATA': 2,
 'SALMONELLA NEWPORT': 2,
 'SALMONELLA SANDIEGO': 2,
 'BACTEROIDES FRAGILIS': 2,
 'FUNGUS': 2,
 'ESCHERICHIA SPECIES': 2,
 'ACTINOBACILLUS ACTINOMYCETEMCOMITANS': 2,
 'BETA STREPTOCOCCUS NOT GROUP A OR B': 2,
 'POSITIVE FOR CRYPTOCOCCAL ANTIGEN': 2,
 'POSITIVE FOR M. TUBERCULOSIS BY MTD': 2,
 'SALMONELLA DUBLIN': 2,
 'STREPTOCCUS SALIVARIUS GROUP': 2,
 'ORGANISM': 2,
 'GEMELLA MORBILLORUM': 2,
 'POSITIVE FOR INFLUENZA B VIRAL ANTIGEN': 2,
 'MORAXELLA SPECIES': 2,
 'CUTIBACTERIUM SPECIES': 2,
 'ALPHA STREPTOCOCCI': 2,
 'SALMONELLA AGONA': 2,
 'SPHINGOMONAS SPECIES': 2,
 'NOCARDIA FARCINICA': 2,
 'DIENTAMOEBA FRAGILIS': 2,
 'POSITIVE FOR PARAINFLUENZA TYPE 2': 2,
 'ROTHIA DENTOCARIOSA': 2,
 'AFB GROWN IN CULTURE; ADDITIONAL INFORMATION TO FOLLOW': 2,
 'YERSINIA ENTEROCOLITICA': 2,
 'STREPTOCOCCUS PARASANGUINIS': 2,
 'PROBABLE GARDNERELLA VAGINALIS': 1,
 'AUREOBASIDIUM PULLULANS': 1,
 'SALMONELLA KIAMBU': 1,
 'AGGREGATIBACTER SPECIES': 1,
 'GIARDIA LAMBLIA': 1,
 'BORDETELLA BRONCHISEPTICA': 1,
 'RARE BLASTOCYSTIS HOMINIS': 1,
 'ENTEROCOCCUS HIRAE': 1,
 'ASPERGILLUS SPECIES': 1,
 'BACTEROIDES SPECIES': 1,
 'STAPHYLOCOCCUS CAPRAE/CAPITIS': 1,
 'NEISSERIA SPECIES, NOT GONORRHOEAE': 1,
 'PEDIOCOCCUS SPECIES': 1,
 'ACTINOMYCES SP.': 1,
 'MICROSPORUM CANIS': 1,
 'COCCIDIOIDES IMMITIS/POSADASII': 1,
 'CLOSTRIDIUM SEPTICUM': 1,
 'BACTEROIDIES THETAIOTAOMICRON': 1,
 'CANDIDA KEFYR': 1,
 'MUCOR IRREGULARIS': 1,
 'MORAXELLA OSLOENSIS': 1,
 'GEMELLA HAEMOLYSANS': 1,
 'MORAXELLA NONLIQUIFACIENS ': 1,
 'SHIGELLA BOYDII': 1,
 'ENTEROBACTER AMNIGENUS 2 ': 1,
 'BURKHOLDERIA XENOVORANS': 1,
 'ENTEROBACTER CANCEROGENUS': 1,
 'NEOSCYTALIDIUM DIMIDIATUM': 1,
 'HAEMOPHILUS PARAINFLUENZAE': 1,
 'BACTERIA': 1,
 'MYCOBACTERIUM CHIMAERA INTRACELLULARE GROUP': 1,
 'AEROMONAS HYDROPHILA COMPLEX': 1,
 'MICROCOCCUS LUTEUS': 1,
 'STACHYBOTRYS SPP.': 1,
 'TRICHOSPORON SPECIES': 1,
 'PARAINFLUENZA VIRUS TYPE 1': 1,
 'ALLOIOCOCCUS OTITIS': 1,
 'BRUCELLA SPECIES': 1,
 'LEUCONOSTOC MESENTEROIDES': 1,
 'EXOPHIALA JEANSELMEI COMPLEX': 1,
 'DESULFOVIBRIO DESULFURICANS': 1,
 'CITROBACTER SEDLAKII': 1,
 'POSITIVE FOR PARAINFLUENZA VIRUS': 1,
 'INFLUENZA B VIRUS': 1,
 'KLEBSIELLA SPECIES': 1,
 'SALMONELLA THOMPSON': 1,
 'HERPES SIMPLEX VIRUS': 1,
 'MYCOBACTERIUM XENOPI': 1,
 'MICROBACTERIUM SPECIES': 1,
 'ANAEROBIC GRAM NEGATIVE ROD #2': 1,
 'LACTOBACILLUS CASEI/PARACASEI/ZEAE': 1,
 'PSEUDOMONAS MENDOCINA': 1,
 'CLOSTRIDIUM TERTIUM': 1,
 'PEPTOSTREPTOCOCCUS SP.': 1,
 'DESULFOVIBRIO LEGALLII': 1,
 'PLESIOMONAS SHIGELLOIDES': 1,
 'LEPTOTRICHIA TREVISANII': 1,
 'SCEDOSPORIUM (APIOSPERMUM) BOYDII COMPLEX': 1,
 'ACHROMOBACTER (ALCALIGENES) XYLOSOXIDANS SS DENTRIFICANS': 1,
 'LECLERCIA ADECARBOXYLATA': 1,
 'STREPTOMYCES SPECIES': 1,
 'RHINOCLADIELLA SP.': 1,
 'LEPTOTRICHIA HOFSTADII': 1,
 'ASCARIS LUMBRICOIDES': 1,
 'CAPNOCYTOPHAGA SPECIES': 1,
 'RAOULTELLA ORNITHINOLYTICA': 1,
 'MYCOPLASMA SPECIES': 1,
 'MYCOPLASMA HOMINIS': 1,
 'CARDIOBACTERIUM HOMINIS': 1,
 'CRONOBACTER (ENTEROBACTER) SAKAZAKII': 1,
 'HAEMOPHILUS APHROPHILUS': 1,
 'NOCARDIA TRANSVALENSIS COMPLEX': 1,
 'POSITIVE FOR MICROSPORIDIA SPECIES': 1,
 'SALMONELLA BRAENDERUP': 1,
 'ROSEOMONAS SPECIES': 1,
 'GEMELLA BERGERI': 1,
 'STREPTOCOCCUS ORALIS': 1,
 'CHAETOMIUM SPECIES': 1,
 'CANDIDA AURIS': 1,
 'TICK': 1,
 'MODERATE BLASTOCYSTIS HOMINIS': 1,
 'CLOSTRIDIUM SPECIES': 1,
 'STAPHYLOCOCCUS CAPRAE': 1,
 'CORYNEBACTERIUM STRIATUM': 1,
 'PSEUDOMONAS SPECIES': 1,
 'HOOKWORM': 1,
 'CITROBACTER YOUNGAE': 1,
 'TRICHOMONAS VAGINALIS SEEN': 1,
 'KOCURIA KRISTINAE': 1,
 'BREVUNDIMONAS DIMINUTA/VESICULARIS': 1,
 'SALMONELLA BARRANQUILLA': 1,
 'BACILLUS CIRCULANS GROUP': 1,
 'ALCALIGENES FAECALIS': 1,
 'RHODOTORULA GLUTINIS': 1,
 'STREPTOCOCCUS INTERMEDIUS': 1,
 'ENTEROCOCCUS DURANS': 1,
 'NUTRITIONALLY VARIANT STREPTOCOCCUS': 1,
 'PITHOMYCES SP.': 1,
 'SHEWANELLA ALGAE': 1,
 'PHAEOACREMONIUM SPECIES': 1,
 'SALMONELLA TELELKEBIR': 1,
 'MYCOBACTERIUM SPECIES': 1,
 'STREPTOCOCCUS INFANTARIUS SSP. INFANTARIUS (STREPTOCOCCUS BOVIS)': 1,
 'STREPTOCOCCUS BOVIS GROUP': 1,
 'NOCARDIA OTITIDISCAVIARUM (CAVIAE)': 1,
 'SERRATIA RUBIDAEA': 1,
 'SACCHAROMYCES CEREVISIAE': 1,
 'INFLUENZA A VIRUS': 1,
 'CHRYSEOBACTERIUM INDOLOGENES': 1,
 'STREPTOCOCCUS PORCINUS': 1,
 'PSEUDOMONAS STUTZERI': 1,
 'SALMONELLA POMONA': 1,
 'ACHROMOBACTER (ALCALIGENES) DENTRIFICANS': 1,
 'MYCOBACTERIUM MUCOGENICUM': 1,
 'BACILLUS CEREUS/THURINGIENSIS': 1,
 'TRICHOSPORON MUCOIDES': 1,
 'LEUCONOSTOC SPECIES': 1,
 'WORM': 1,
 'VEILLONELLA SPECIES': 1,
 'STAPHYLOCOCCUS SCIURI': 1,
 'SALMONELLA BAREILLY': 1,
 'POSITIVE FOR ADENOVIRUS': 1,
 'VIBRIO PARAHAEMOLYTICUS': 1,
 'ENTEROCOCCUS RAFFINOSUS': 1,
 'SALMONELLA CORVALLIS': 1,
 'KINGELLA SPECIES': 1,
 'VIBRIO SPECIES': 1,
 'ENTAMOEBA SP.': 1,
 'PROTEUS PENNERI': 1,
 'BURKHOLDERIA CEPACIA': 1,
 'CUTIBACTERIUM ACNES': 1,
 'DIALISTER MICRAEROPHILUS': 1}

In [74]:
df = generic_util_instance.replace_nan(df, 'org_name', 'None')
df = generic_util_instance.replace_column_value(df, 'org_name', 1500, 'Other')
df.org_name.value_counts()

None                                               190676
Other                                               16636
ESCHERICHIA COLI                                    10847
CANCELLED                                            9466
STAPH AUREUS COAG +                                  7036
GRAM POSITIVE BACTERIA                               4982
YEAST                                                4657
STAPHYLOCOCCUS, COAGULASE NEGATIVE                   4215
ENTEROCOCCUS SP.                                     2879
KLEBSIELLA PNEUMONIAE                                2330
POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS      1543
POSITIVE FOR GROUP B BETA STREPTOCOCCI               1529
Name: org_name, dtype: int64

In [75]:
df.test_name.isna().sum()

83079

In [76]:
df.test_name.value_counts().to_dict()

{'URINE CULTURE': 58901,
 'Blood Culture, Routine': 34109,
 'MRSA SCREEN': 23028,
 'Blood Culture, Neonate': 11207,
 'WOUND CULTURE': 6335,
 'Staph aureus Screen': 4438,
 'RAPID PLASMA REAGIN TEST': 3576,
 'GRAM STAIN': 2815,
 'FLUID CULTURE': 2089,
 'Chlamydia trachomatis, Nucleic Acid Probe, with Amplification': 1843,
 'HELICOBACTER PYLORI ANTIBODY TEST': 1759,
 'R/O GROUP B BETA STREP': 1629,
 'YEAST VAGINITIS CULTURE': 1508,
 'FUNGAL CULTURE': 1448,
 'ANAEROBIC CULTURE': 1280,
 'C. difficile DNA amplification assay': 1125,
 'RESPIRATORY CULTURE': 1099,
 'TISSUE': 1083,
 'FECAL CULTURE': 1052,
 'LYME SEROLOGY': 979,
 'THROAT - R/O BETA STREP': 943,
 'NEISSERIA GONORRHOEAE (GC), NUCLEIC ACID PROBE, WITH AMPLIFICATION': 806,
 'CHROMOSOME ANALYSIS-BONE MARROW': 675,
 'VIRAL CULTURE: R/O CYTOMEGALOVIRUS': 668,
 'Staph aureus Preop PCR': 586,
 'VARICELLA-ZOSTER IgG SEROLOGY': 494,
 'VIRAL CULTURE: R/O HERPES SIMPLEX VIRUS': 487,
 'R/O VANCOMYCIN RESISTANT ENTEROCOCCUS': 372,
 'OVA + PARASITES': 365,
 'Hepatitis C Viral Load, Quantitative': 355,
 'SMEAR FOR BACTERIAL VAGINOSIS': 341,
 'MONOSPOT': 299,
 'AEROBIC BOTTLE': 252,
 'RUBELLA IgG SEROLOGY': 251,
 'CHROMOSOME ANALYSIS-AMNIOTIC FLUID': 237,
 'MUMPS IgG ANTIBODY': 236,
 'RUBEOLA ANTIBODY, IgG': 231,
 'Rubella IgG/IgM Antibody': 230,
 'FUNGAL CULTURE (HAIR/SKIN/NAILS)': 227,
 'Lyme IgG': 222,
 'CLOSTRIDIUM DIFFICILE TOXIN A & B TEST': 216,
 'CAMPYLOBACTER CULTURE': 208,
 'Fluid Culture in Bottles': 204,
 'HBV Viral Load': 197,
 'EPSTEIN-BARR VIRUS VCA-IgG AB': 194,
 'REFLEX URINE CULTURE': 192,
 'HIV-1 Viral Load/Ultrasensitive': 166,
 'FOCUSED ANALYSIS': 162,
 'R/O Group B Strep - Penicillin Allergy': 154,
 'C. difficile Toxin antigen assay': 126,
 'Legionella Urinary Antigen ': 125,
 'DIRECT INFLUENZA A ANTIGEN TEST': 124,
 'CMV IgG ANTIBODY': 112,
 'CHROMOSOME ANALYSIS-BLOOD': 110,
 'VIRAL CULTURE': 102,
 'CMV IgM ANTIBODY': 95,
 'Respiratory Viral Culture': 90,
 'CHROMOSOME ANALYSIS-TISSUE': 70,
 'ANAEROBIC BOTTLE': 69,
 'TOXOPLASMA IgG ANTIBODY': 69,
 'CLOSTRIDIUM DIFFICILE TOXIN ASSAY': 63,
 'DIRECT AFB STAIN-BI': 60,
 'STATE AFB CULTURE AND SMEAR': 57,
 'ISOLATE FOR MIC': 56,
 'Stool Hold Request': 56,
 'CHROMOSOME ANALYSIS-CVS': 56,
 'POSTMORTEM CULTURE': 50,
 'CMV Viral Load': 47,
 'CRYPTOCOCCAL ANTIGEN': 45,
 'VARICELLA-ZOSTER CULTURE': 41,
 'Cryptosporidium/Giardia (DFA)': 41,
 'Respiratory Virus Identification': 39,
 'CHROMOSOME ANALYSIS-NEOPLASTIC BLOOD': 37,
 'FECAL CULTURE - R/O YERSINIA': 36,
 'HCV GENOTYPE': 34,
 'EPSTEIN-BARR VIRUS EBNA IgG AB': 33,
 'DIRECT INFLUENZA B ANTIGEN TEST': 33,
 'MTB Direct Amplification': 33,
 'RPR w/check for Prozone': 32,
 'FECAL CULTURE - R/O E.COLI 0157:H7': 30,
 'FECAL CULTURE - R/O VIBRIO': 29,
 'CYTOMEGALOVIRUS EARLY ANTIGEN TEST (SHELL VIAL METHOD)': 28,
 'O&P MACROSCOPIC EXAM - ARTHROPOD': 26,
 'Blood Culture, Post Mortem': 25,
 'Immunoflourescent test for Pneumocystis jirovecii (carinii)': 25,
 'LEGIONELLA CULTURE': 25,
 'ASO Screen': 23,
 'BLOOD/FUNGAL CULTURE': 22,
 'MICROSPORIDIA STAIN': 18,
 'CYCLOSPORA STAIN': 17,
 'R/O GC Only': 17,
 'Malaria Antigen Test': 17,
 'DIRECT ANTIGEN TEST FOR VARICELLA-ZOSTER VIRUS': 16,
 'POTASSIUM HYDROXIDE PREPARATION': 16,
 'Direct Antigen Test for Herpes Simplex Virus Types 1 & 2': 15,
 'Enterovirus Culture': 13,
 'Stem Cell Culture in Bottles': 12,
 'Rapid Respiratory Viral Antigen Test': 11,
 'Anaerobic Bottle Gram Stain': 9,
 'NOCARDIA CULTURE': 9,
 'GRAM STAIN- R/O THRUSH': 7,
 'Aerobic Bottle Gram Stain': 6,
 'POTASSIUM HYDROXIDE PREPARATION (HAIR/SKIN/NAILS)': 5,
 'Cipro Resistant Screen': 5,
 'GENITAL CULTURE FOR TOXIC SHOCK': 5,
 'INTERPHASE FISH ANALYSIS, 100-300 CELLS': 5,
 'O&P MACROSCOPIC EXAM - WORM': 5,
 'TOXOPLASMA IgM ANTIBODY': 5,
 'Sonication culture, prosthetic joint': 4,
 'POST MORTEM MYCOLOGY CULTURE': 4,
 'BLOOD/AFB CULTURE': 4,
 'Tissue Culture-Bone Marrow': 3,
 'Lyme IgM': 3,
 'EPSTEIN-BARR VIRUS VCA-IgM AB': 3,
 'TREPONEMAL ANTIBODY TEST': 3,
 'TISSUE CULTURE-TISSUE': 3,
 'Carbapenemase Resistant Enterobacteriaceae Screen': 3,
 'GENITAL CULTURE': 3,
 'Additional Cells and Karyotype': 3,
 'GEN-PROBE AMPLIFIED M. TUBERCULOSIS DIRECT TEST (MTD)': 2,
 'Deparaffinization, Lysis of Cells': 2,
 'ADDITIONAL CELLS COUNTED': 2,
 'SCOTCH TAPE PREP/PADDLE': 2,
 'CHROMOSOME ANALYSIS-FLUID': 2,
 'TRICHOMONAS SALINE PREP': 1,
 'QUANTITATIVE RPR': 1,
 'QUANTITATIVE CRYPTOCOCCAL ANTIGEN': 1,
 'ED Gram Stain for Yeast': 1,
 'CRE/ESBL/AMP-C Screening': 1,
 'Pediatric Bottle Gram Stain': 1,
 'Tissue Culture - Neoplastic Blood': 1,
 'CHROMOSOME ANALYSIS - ADDITIONAL KARYOTYPE': 1,
 'TISSUE CULTURE-CVS': 1,
 'BRUCELLA BLOOD CULTURE': 1,
 'voided': 1}

In [77]:
df = generic_util_instance.replace_nan(df, 'test_name', 'None')
df.test_name.isna().sum()

0

In [78]:
df = generic_util_instance.replace_column_value(df, 'test_name', 2000, 'Other')
df.test_name.value_counts()

None                        83079
URINE CULTURE               58901
Blood Culture, Routine      34109
Other                       27219
MRSA SCREEN                 23028
Blood Culture, Neonate      11207
WOUND CULTURE                6335
Staph aureus Screen          4438
RAPID PLASMA REAGIN TEST     3576
GRAM STAIN                   2815
FLUID CULTURE                2089
Name: test_name, dtype: int64

In [79]:
df.ab_name.value_counts()

AMPICILLIN              12473
ERYTHROMYCIN             6144
CEFAZOLIN                2465
TRIMETHOPRIM/SULFA       2124
PENICILLIN G             1962
GENTAMICIN               1157
NITROFURANTOIN            473
VANCOMYCIN                327
TOBRAMYCIN                224
CEFEPIME                  215
CEFTRIAXONE               210
CEFTAZIDIME               200
MEROPENEM                 183
CLINDAMYCIN               181
CIPROFLOXACIN             177
PIPERACILLIN/TAZO         138
TETRACYCLINE              105
AMPICILLIN/SULBACTAM      101
OXACILLIN                  85
LEVOFLOXACIN               81
PIPERACILLIN               26
RIFAMPIN                   25
CEFUROXIME                 24
DAPTOMYCIN                 14
AMIKACIN                   12
LINEZOLID                   8
IMIPENEM                    2
Name: ab_name, dtype: int64

In [80]:
df.ab_name.isna().sum()

227660

In [81]:
df = generic_util_instance.replace_nan(df, 'ab_name', 'None')
df.ab_name.isna().sum()

0

In [82]:
df = generic_util_instance.replace_column_value(df, 'ab_name', 1000, 'Other')
df.ab_name.value_counts()

None                  227660
AMPICILLIN             12473
ERYTHROMYCIN            6144
Other                   2811
CEFAZOLIN               2465
TRIMETHOPRIM/SULFA      2124
PENICILLIN G            1962
GENTAMICIN              1157
Name: ab_name, dtype: int64

In [83]:
df.curr_service.isna().sum()

1

In [84]:
df.curr_service.value_counts().to_dict()

{'MED': 88405,
 'NB': 59972,
 'SURG': 17386,
 'CMED': 15344,
 'ORTHO': 13681,
 'OBS': 10748,
 'NMED': 10447,
 'NSURG': 7448,
 'CSURG': 5621,
 'TRAUM': 5071,
 'OMED': 4948,
 'VSURG': 3452,
 'GYN': 3336,
 'PSYCH': 2545,
 'PSURG': 2534,
 'GU': 2415,
 'TSURG': 2019,
 'NBB': 840,
 'ENT': 553,
 'DENT': 20,
 'EYE': 10}

In [85]:
df = generic_util_instance.replace_nan(df, 'curr_service', 'Other')
df = generic_util_instance.replace_column_value(df, 'curr_service', 1000, 'Other')
df.curr_service.value_counts()

MED      88405
NB       59972
SURG     17386
CMED     15344
ORTHO    13681
OBS      10748
NMED     10447
NSURG     7448
CSURG     5621
TRAUM     5071
OMED      4948
VSURG     3452
GYN       3336
PSYCH     2545
PSURG     2534
GU        2415
TSURG     2019
Other     1424
Name: curr_service, dtype: int64

In [86]:
df.head()

,admission_type,admission_location,discharge_location,insurance,language,marital_status,ethnicity,hospital_expire_flag,los_admission,gender,...,flag,priority,drg_type,drg_code,drug,route,org_name,test_name,ab_name,curr_service
0,ELECTIVE,Other,HOME,Other,ENGLISH,Other,WHITE,0,1.968056,M,...,normal,STAT,HCFA,795.0,Other,IM,None,"Blood Culture, Routine",None,NB
1,EW EMER.,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,0,2.222222,F,...,abnormal,ROUTINE,HCFA,442.0,Influenza Vaccine Quadrivalent,IM,None,Other,None,MED
2,ELECTIVE,Other,HOME,Other,ENGLISH,Other,ASIAN,0,1.865278,F,...,normal,STAT,HCFA,795.0,Erythromycin 0.5% Ophth Oint,BOTH EYES,None,Other,None,NB
3,EU OBSERVATION,EMERGENCY ROOM,Other,Other,ENGLISH,SINGLE,WHITE,0,0.298611,F,...,normal,OTHER,OTHER,0.0,None,None,None,None,None,MED
4,ELECTIVE,Other,HOME,Other,ENGLISH,Other,WHITE,0,4.109722,M,...,normal,STAT,HCFA,795.0,Erythromycin 0.5% Ophth Oint,BOTH EYES,None,None,None,NB

In [87]:
df.dtypes

admission_type           object
admission_location       object
discharge_location       object
insurance                object
language                 object
marital_status           object
ethnicity                object
hospital_expire_flag      int64
los_admission           float64
gender                   object
anchor_age                int64
eventtype                object
flag                     object
priority                 object
drg_type                 object
drg_code                float64
drug                     object
route                    object
org_name                 object
test_name                object
ab_name                  object
curr_service             object
dtype: object

In [88]:
for column in df.columns:
    if column in ['hospital_expire_flag', 'los_admission', 'anchor_age', 'drg_code']:
        try:
            df[column] = df[column].astype('float64')
        except Exception as ex:
            pass
    else:
        df[column] = df[column].astype('string')

In [89]:
df.dtypes

admission_type           string
admission_location       string
discharge_location       string
insurance                string
language                 string
marital_status           string
ethnicity                string
hospital_expire_flag    float64
los_admission           float64
gender                   string
anchor_age              float64
eventtype                string
flag                     string
priority                 string
drg_type                 string
drg_code                float64
drug                     string
route                    string
org_name                 string
test_name                string
ab_name                  string
curr_service             string
dtype: object

# Correlations

In [90]:
corr_matrix = df.corr()

In [91]:
corr_matrix

,hospital_expire_flag,los_admission,anchor_age,drg_code
hospital_expire_flag,1.000000,0.088975,0.130230,-0.027762
los_admission,0.088975,1.000000,-0.010459,0.094004
anchor_age,0.130230,-0.010459,1.000000,-0.493545
drg_code,-0.027762,0.094004,-0.493545,1.000000

Since majority of the columns are categorical we need to compute `cramers_v` or `theils_u`. Since we want to check corelation with `los_admission` we need to calculate `corelation ratio`.

## TO-DO:
- Correlation Coefficient

# Transformation Pipelines

In [92]:
categorical_columns = df.select_dtypes(include=['string']).columns.tolist()

In [93]:
categorical_columns

['admission_type',
 'admission_location',
 'discharge_location',
 'insurance',
 'language',
 'marital_status',
 'ethnicity',
 'gender',
 'eventtype',
 'flag',
 'priority',
 'drg_type',
 'drug',
 'route',
 'org_name',
 'test_name',
 'ab_name',
 'curr_service']

In [94]:
numerical_columns = [df.select_dtypes(exclude=['string']).columns.tolist()[2]]
numerical_columns

['anchor_age']

In [95]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OrdinalEncoder

In [96]:
num_pipeline = Pipeline([
        ('std_scaler', StandardScaler())
    ])

In [97]:
from sklearn.compose import ColumnTransformer

num_attribs = numerical_columns
cat_attribs = categorical_columns

full_pipeline = ColumnTransformer([
        ("num", num_pipeline, num_attribs),
        ("cat", OrdinalEncoder(), cat_attribs),
    ])

# Create Test Set

In [98]:
np.random.seed(42)

In [99]:
from sklearn.model_selection import StratifiedShuffleSplit

split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(df, df["flag"]):
    strat_train_set = df.loc[train_index]
    strat_test_set = df.loc[test_index]

In [100]:
train_set_X = strat_train_set.drop("los_admission", axis = 1)
train_set_y = strat_train_set["los_admission"]

test_set_X = strat_test_set.drop("los_admission", axis = 1)
test_set_y = strat_test_set["los_admission"]

In [101]:
train_set_X_prepared = full_pipeline.fit_transform(train_set_X)

In [102]:
train_set_X_prepared.shape

(205436, 19)

In [103]:
train_set_X_prepared

array([[ 0.39909861,  2.        ,  4.        , ...,  6.        ,
         4.        ,  4.        ],
       [-0.11151772,  7.        ,  4.        , ...,  9.        ,
         0.        ,  6.        ],
       [-1.43912018,  3.        ,  2.        , ...,  5.        ,
         4.        ,  5.        ],
       ...,
       [-1.43912018,  3.        ,  2.        , ...,  5.        ,
         4.        ,  5.        ],
       [ 0.50122187,  5.        ,  1.        , ...,  6.        ,
         4.        ,  0.        ],
       [ 1.35224909,  4.        ,  1.        , ...,  1.        ,
         4.        ,  4.        ]])

In [104]:
X_test_prepared = full_pipeline.transform(test_set_X)

# Select and Train a Model

# Training and Evaluating on the Training Set

In [105]:
from sklearn.linear_model import LinearRegression

lin_reg_instance = LinearRegression()
lin_reg_instance.fit(train_set_X_prepared, train_set_y)

LinearRegression()

In [106]:
some_data = train_set_X.iloc[:5]
some_labels = train_set_y.iloc[:5]
some_data_prepared = full_pipeline.transform(some_data)

print(f"Predictions : {lin_reg_instance.predict(some_data_prepared)}")

Predictions : [0.4263162  6.26433204 3.69780975 5.8607392  4.06881992]

In [107]:
print(f"Labels : {some_labels}")

Labels : 137475     0.670833
81263      1.427083
177320     1.872222
58882     12.093750
36550      3.619444
Name: los_admission, dtype: float64

In [108]:
from sklearn.metrics import mean_squared_error

los_admission_predictions = lin_reg_instance.predict(train_set_X_prepared)
lin_mse = mean_squared_error(train_set_y, los_admission_predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

7.399259062186099

In [109]:
from sklearn.metrics import mean_absolute_error

lin_mae = mean_absolute_error(train_set_y, los_admission_predictions)
lin_mae

3.1867208095523787

In [110]:
from sklearn.tree import DecisionTreeRegressor

tree_reg_instance = DecisionTreeRegressor(random_state=42)

In [111]:
tree_reg_instance.fit(train_set_X_prepared, train_set_y)

DecisionTreeRegressor(random_state=42)

In [112]:
los_admission_predictions = tree_reg_instance.predict(train_set_X_prepared)
lin_mse = mean_squared_error(train_set_y, los_admission_predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

2.6628540652101433

# Better Evaluation using Cross Validation

In [113]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(tree_reg_instance, train_set_X_prepared, train_set_y,
                         scoring="neg_mean_squared_error", cv=10)
tree_rmse_scores = np.sqrt(-scores)

In [114]:
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())

display_scores(tree_rmse_scores)

Scores: [7.27616918 8.21014594 8.59675297 7.07555482 7.77317663 7.98449479
 7.47812283 7.86287356 7.91474633 7.95641649]
Mean: 7.812845353480607
Standard deviation: 0.4219660131853264

In [115]:
lin_scores = cross_val_score(lin_reg_instance, train_set_X_prepared, train_set_y,
                             scoring="neg_mean_squared_error", cv=10)
lin_rmse_scores = np.sqrt(-lin_scores)
display_scores(lin_rmse_scores)

Scores: [7.12854972 7.59463067 8.01584606 6.95075181 7.55211532 7.48541191
 6.92177292 7.68890326 7.43276737 7.15798987]
Mean: 7.392873892172264
Standard deviation: 0.33081595313097223

In [116]:
from sklearn.ensemble import RandomForestRegressor

forest_reg_instance = RandomForestRegressor(n_estimators=100, random_state=42)
forest_reg_instance.fit(train_set_X_prepared, train_set_y)

RandomForestRegressor(random_state=42)

In [117]:
los_admission_predictions = forest_reg_instance.predict(train_set_X_prepared)
forest_mse = mean_squared_error(los_admission_predictions, train_set_y)
forest_rmse = np.sqrt(forest_mse)
forest_rmse

3.2680077433303127

In [118]:
from sklearn.model_selection import cross_val_score

forest_scores = cross_val_score(forest_reg_instance, train_set_X_prepared, train_set_y,
                                scoring="neg_mean_squared_error", cv=10)
forest_rmse_scores = np.sqrt(-forest_scores)
display_scores(forest_rmse_scores)

Scores: [5.50870222 6.5540007  6.50920744 5.43908127 6.03381883 5.99737408
 5.37318592 6.22183734 5.83026567 5.72846185]
Mean: 5.919593532246735
Standard deviation: 0.40041994605074505

In [119]:
scores = cross_val_score(lin_reg_instance, train_set_X_prepared, train_set_y, scoring="neg_mean_squared_error", cv=10)
pd.Series(np.sqrt(-scores)).describe()

count    10.000000
mean      7.392874
std       0.348711
min       6.921773
25%       7.135910
50%       7.459090
75%       7.584002
max       8.015846
dtype: float64

In [120]:
# from sklearn.svm import SVR

# svm_reg = SVR(kernel="linear")
# svm_reg.fit(train_set_X_prepared, train_set_y)
# los_admission_predictions = svm_reg.predict(train_set_X_prepared)
# svm_mse = mean_squared_error(train_set_y, los_admission_predictions)
# svm_rmse = np.sqrt(svm_mse)
# svm_rmse

# Fine Tune Your Model

## Grid Search

In [121]:
from sklearn.model_selection import GridSearchCV

param_grid = [
    # try 12 (3×4) combinations of hyperparameters
    {'n_estimators': [3, 10, 30], 'max_features': [2, 4, 6, 8]},
    # then try 6 (2×3) combinations with bootstrap set as False
    {'bootstrap': [False], 'n_estimators': [3, 10], 'max_features': [2, 3, 4]},
  ]

forest_reg_instance = RandomForestRegressor(random_state=42)
# train across 5 folds, that's a total of (12+6)*5=90 rounds of training 
grid_search = GridSearchCV(forest_reg_instance, param_grid, cv=5,
                           scoring='neg_mean_squared_error',
                           return_train_score=True)

In [122]:
grid_search.fit(train_set_X_prepared, train_set_y)

GridSearchCV(cv=5, estimator=RandomForestRegressor(random_state=42),
             param_grid=[{'max_features': [2, 4, 6, 8],
                          'n_estimators': [3, 10, 30]},
                         {'bootstrap': [False], 'max_features': [2, 3, 4],
                          'n_estimators': [3, 10]}],
             return_train_score=True, scoring='neg_mean_squared_error')

In [123]:
grid_search.best_params_

{'max_features': 4, 'n_estimators': 30}

In [124]:
grid_search.best_estimator_

RandomForestRegressor(max_features=4, n_estimators=30, random_state=42)

In [125]:
cvres = grid_search.cv_results_
for mean_score, params in zip(cvres["mean_test_score"], cvres["params"]):
    print(np.sqrt(-mean_score), params)

6.491662661659716 {'max_features': 2, 'n_estimators': 3}
6.020087446161555 {'max_features': 2, 'n_estimators': 10}
5.854972576652227 {'max_features': 2, 'n_estimators': 30}
6.463542014252199 {'max_features': 4, 'n_estimators': 3}
5.965786683963258 {'max_features': 4, 'n_estimators': 10}
5.826192988020236 {'max_features': 4, 'n_estimators': 30}
6.458313406263729 {'max_features': 6, 'n_estimators': 3}
5.994040688680493 {'max_features': 6, 'n_estimators': 10}
5.841660630360668 {'max_features': 6, 'n_estimators': 30}
6.501827716190652 {'max_features': 8, 'n_estimators': 3}
6.009134844746976 {'max_features': 8, 'n_estimators': 10}
5.859305339099921 {'max_features': 8, 'n_estimators': 30}
6.497708696385697 {'bootstrap': False, 'max_features': 2, 'n_estimators': 3}
6.057172524547689 {'bootstrap': False, 'max_features': 2, 'n_estimators': 10}
6.530994418493474 {'bootstrap': False, 'max_features': 3, 'n_estimators': 3}
6.065960444359786 {'bootstrap': False, 'max_features': 3, 'n_estimators': 10}
6.547109095760916 {'bootstrap': False, 'max_features': 4, 'n_estimators': 3}
6.05569603632465 {'bootstrap': False, 'max_features': 4, 'n_estimators': 10}

In [126]:
pd.DataFrame(grid_search.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_features,param_n_estimators,param_bootstrap,params,split0_test_score,split1_test_score,...,mean_test_score,std_test_score,rank_test_score,split0_train_score,split1_train_score,split2_train_score,split3_train_score,split4_train_score,mean_train_score,std_train_score
0,0.299993,0.014014,0.035431,0.001800,2,3,NaN,"{'max_features': 2, 'n_estimators': 3}",-43.397295,-42.926004,...,-42.141684,1.332347,14,-15.755816,-15.144941,-15.352174,-15.847413,-15.220395,-15.464148,0.284889
1,0.909471,0.007195,0.108744,0.001743,2,10,NaN,"{'max_features': 2, 'n_estimators': 10}",-37.321662,-36.998011,...,-36.241453,1.192929,8,-12.004377,-11.790129,-11.628681,-11.986909,-11.773827,-11.836785,0.141472
2,2.755117,0.062907,0.318070,0.003744,2,30,NaN,"{'max_features': 2, 'n_estimators': 30}",-35.422418,-34.959715,...,-34.280704,1.202960,3,-10.893861,-10.686888,-10.420435,-10.747921,-10.626167,-10.675054,0.155272
3,0.402199,0.013561,0.033310,0.001116,4,3,NaN,"{'max_features': 4, 'n_estimators': 3}",-43.261945,-42.267989,...,-41.777375,1.148357,13,-15.540267,-15.048756,-15.107141,-15.416570,-15.107471,-15.244041,0.196492
4,1.308388,0.012344,0.106375,0.001276,4,10,NaN,"{'max_features': 4, 'n_estimators': 10}",-37.211452,-35.913036,...,-35.590611,1.152570,5,-11.873991,-11.805051,-11.546707,-11.879826,-11.778364,-11.776788,0.121494
5,3.950187,0.091164,0.317602,0.002643,4,30,NaN,"{'max_features': 4, 'n_estimators': 30}",-35.420759,-34.713115,...,-33.944525,1.303522,1,-10.826953,-10.615203,-10.431237,-10.692935,-10.578426,-10.628951,0.130485
6,0.517264,0.015757,0.032783,0.000673,6,3,NaN,"{'max_features': 6, 'n_estimators': 3}",-41.986093,-42.162948,...,-41.709812,1.358359,12,-15.752550,-15.170193,-15.130850,-15.443497,-15.663908,-15.432199,0.251356
7,1.691272,0.015044,0.105279,0.001206,6,10,NaN,"{'max_features': 6, 'n_estimators': 10}",-36.698413,-36.868422,...,-35.928524,0.973500,6,-11.892682,-11.654025,-11.503513,-11.908528,-11.806713,-11.753092,0.154029
8,5.128853,0.031903,0.320361,0.002726,6,30,NaN,"{'max_features': 6, 'n_estimators': 30}",-35.311448,-35.231177,...,-34.124999,1.220596,2,-10.827257,-10.607826,-10.375078,-10.744495,-10.622102,-10.635352,0.153242
9,0.643803,0.020716,0.033088,0.000800,8,3,NaN,"{'max_features': 8, 'n_estimators': 3}",-43.697169,-42.595530,...,-42.273764,1.061736,16,-15.721214,-15.351537,-15.487926,-15.392960,-15.514737,-15.493675,0.128528
10,2.136326,0.071937,0.105867,0.000711,8,10,NaN,"{'max_features': 8, 'n_estimators': 10}",-37.502986,-36.291278,...,-36.109702,0.968490,7,-11.979837,-11.775848,-11.753086,-11.970233,-11.794540,-11.854709,0.099166
11,6.499500,0.184409,0.318406,0.003796,8,30,NaN,"{'max_features': 8, 'n_estimators': 30}",-36.038036,-35.212789,...,-34.331459,1.335560,4,-10.874622,-10.675874,-10.534397,-10.771627,-10.651552,-10.701614,0.114860
12,0.415297,0.013225,0.038235,0.000835,2,3,False,"{'bootstrap': False, 'max_features': 2, 'n_est...",-43.562480,-43.131940,...,-42.220218,1.228445,15,-7.060685,-6.831223,-6.635230,-6.904993,-6.782660,-6.842958,0.140127
13,1.383425,0.017579,0.125959,0.001169,2,10,False,"{'bootstrap': False, 'max_features': 2, 'n_est...",-37.975242,-37.669849,...,-36.689339,1.117090,10,-7.060685,-6.831223,-6.635230,-6.904993,-6.782660,-6.842958,0.140127
14,0.523105,0.010141,0.038273,0.000923,3,3,False,"{'bootstrap': False, 'max_features': 3, 'n_est...",-44.410525,-42.836068,...,-42.653888,1.871270,17,-7.060685,-6.831223,-6.635230,-6.904993,-6.782660,-6.842958,0.140127
15,1.642798,0.013504,0.125055,0.001355,3,10,False,"{'bootstrap': False, 'max_features': 3, 'n_est...",-37.958383,-37.887960,...,-36.795876,1.343830,11,-7.060685,-6.831223,-6.635230,-6.904993,-6.782660,-6.842958,0.140127
16,0.605405,0.015275,0.039492,0.002000,4,3,False,"{'bootstrap': False, 'max_features': 4, 'n_est...",-43.966925,-43.229387,...,-42.864638,1.036757,18,-7.060685,-6.831223,-6.635230,-6.904993,-6.782660,-6.842958,0.140127
17,2.009830,0.020030,0.123999,0.000530,4,10,False,"{'bootstrap': False, 'max_features': 4, 'n_est...",-37.932642,-37.539543,...,-36.671454,0.980459,9,-7.060685,-6.831223,-6.635230,-6.904993,-6.782660,-6.842958,0.140127

## Randomized Search

In [127]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

param_distribs = {
        'n_estimators': randint(low=1, high=200),
        'max_features': randint(low=1, high=8),
    }

forest_reg = RandomForestRegressor(random_state=42)
rnd_search = RandomizedSearchCV(forest_reg, param_distributions=param_distribs,
                                n_iter=10, cv=5, scoring='neg_mean_squared_error', random_state=42)

In [128]:
rnd_search.fit(train_set_X_prepared, train_set_y)

RandomizedSearchCV(cv=5, estimator=RandomForestRegressor(random_state=42),
                   param_distributions={'max_features': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7ff19c9ce3d0>,
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7ff19ca28a30>},
                   random_state=42, scoring='neg_mean_squared_error')

In [129]:
cvres = rnd_search.cv_results_
for mean_score, params in zip(cvres["mean_test_score"], cvres["params"]):
    print(np.sqrt(-mean_score), params)

5.786056539743079 {'max_features': 7, 'n_estimators': 180}
5.909910651887507 {'max_features': 5, 'n_estimators': 15}
5.780098069202281 {'max_features': 3, 'n_estimators': 72}
5.867860933094007 {'max_features': 5, 'n_estimators': 21}
5.791186236207042 {'max_features': 7, 'n_estimators': 122}
5.777251772139496 {'max_features': 3, 'n_estimators': 75}
5.770977237052709 {'max_features': 3, 'n_estimators': 88}
5.771144511285499 {'max_features': 5, 'n_estimators': 100}
5.760136551579598 {'max_features': 3, 'n_estimators': 150}
6.81814018372007 {'max_features': 5, 'n_estimators': 2}

# Analyze the Best Models and Their Errors

In [130]:
feature_importances = grid_search.best_estimator_.feature_importances_
feature_importances

array([0.09907345, 0.05695077, 0.03725929, 0.19507974, 0.02959891,
       0.01899149, 0.03367273, 0.06068399, 0.02439201, 0.01001948,
       0.01343648, 0.04507735, 0.01152681, 0.05710443, 0.07506357,
       0.05595003, 0.1008141 , 0.03186276, 0.0434426 ])

In [ ]:
# extra_attribs = ["rooms_per_hhold", "pop_per_hhold", "bedrooms_per_room"]
# #cat_encoder = cat_pipeline.named_steps["cat_encoder"] # old solution
# cat_encoder = full_pipeline.named_transformers_["cat"]
# cat_one_hot_attribs = list(cat_encoder.categories_[0])
# attributes = num_attribs + extra_attribs + cat_one_hot_attribs
# sorted(zip(feature_importances, attributes), reverse=True)

# Evaluate Your System on the Test Set

In [131]:
final_model = grid_search.best_estimator_

#X_test_prepared = full_pipeline.transform(test_set_X)
final_predictions = final_model.predict(X_test_prepared)

final_mse = mean_squared_error(test_set_y, final_predictions)
final_rmse = np.sqrt(final_mse)

In [132]:
final_rmse

5.591708713501571

In [133]:
from sklearn.metrics import r2_score

In [134]:
r2score = r2_score(test_set_y, final_predictions)

In [136]:
from scipy import stats

confidence = 0.95
squared_errors = (final_predictions - test_set_y) ** 2
np.sqrt(stats.t.interval(confidence, len(squared_errors) - 1,
                         loc=squared_errors.mean(),
                         scale=stats.sem(squared_errors)))

array([5.24454073, 5.91854756])

In [137]:
m = len(squared_errors)
mean = squared_errors.mean()
tscore = stats.t.ppf((1 + confidence) / 2, df=m - 1)
tmargin = tscore * squared_errors.std(ddof=1) / np.sqrt(m)
np.sqrt(mean - tmargin), np.sqrt(mean + tmargin)

(5.244540728945287, 5.918547559641033)

In [138]:
zscore = stats.norm.ppf((1 + confidence) / 2)
zmargin = zscore * squared_errors.std(ddof=1) / np.sqrt(m)
np.sqrt(mean - zmargin), np.sqrt(mean + zmargin)

(5.244549181351713, 5.918540069787639)

## A full pipeline with both preparation and prediction

In [139]:
full_pipeline_with_predictor = Pipeline([
        ("preparation", full_pipeline),
        ("linear", LinearRegression())
    ])

full_pipeline_with_predictor.fit(train_set_X, train_set_y)
full_pipeline_with_predictor.predict(some_data)

array([0.4263162 , 6.26433204, 3.69780975, 5.8607392 , 4.06881992])

## Model persistence using joblib

In [140]:
my_model = full_pipeline_with_predictor

In [141]:
import joblib
joblib.dump(my_model, "my_model.pkl") # DIFF
#...
my_model_loaded = joblib.load("my_model.pkl") # DIFF

In [143]:
r2score

0.4325139165556985