In [1]:
from mimic.mimic import MIMIC

In [2]:
mimic_instance = MIMIC('./dataset/')

MIMIC dataset found at path : /home/pri2si17/Development/PLHI/hands_on_ml/mimic/handson_ml2_mimic_iv/dataset

# MIMIC Core Admissions

In [3]:
df_admissions = mimic_instance.read_core_admissions_csv()

In [4]:
df_admissions.head()

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,language,marital_status,ethnicity,edregtime,edouttime,hospital_expire_flag
0,14679932,21038362,2139-09-26 14:16:00,2139-09-28 11:30:00,NaN,ELECTIVE,NaN,HOME,Other,ENGLISH,SINGLE,UNKNOWN,NaN,NaN,0
1,15585972,24941086,2123-10-07 23:56:00,2123-10-12 11:22:00,NaN,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,WHITE,NaN,NaN,0
2,11989120,21965160,2147-01-14 09:00:00,2147-01-17 14:25:00,NaN,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,UNKNOWN,NaN,NaN,0
3,17817079,24709883,2165-12-27 17:33:00,2165-12-31 21:18:00,NaN,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,OTHER,NaN,NaN,0
4,15078341,23272159,2122-08-28 08:48:00,2122-08-30 12:32:00,NaN,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,BLACK/AFRICAN AMERICAN,NaN,NaN,0

In [9]:
df_admissions.shape[0].compute()

523740

In [15]:
df_admissions.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 15 entries, subject_id to hospital_expire_flag
dtypes: object(12), int64(3)

In [17]:
df_admissions.describe().compute()

         subject_id       hadm_id  hospital_expire_flag
count  5.237400e+05  5.237400e+05         523740.000000
mean   1.500437e+07  2.500439e+07              0.017852
std    2.879606e+06  2.888664e+06              0.132415
min    1.000002e+07  2.000002e+07              0.000000
25%    1.251283e+07  2.250358e+07              0.000000
50%    1.500770e+07  2.500701e+07              0.000000
75%    1.749548e+07  2.750772e+07              0.000000
max    1.999999e+07  2.999993e+07              1.000000

In [19]:
df_admissions.isna().sum().compute()

subject_id                   0
hadm_id                      0
admittime                    0
dischtime                    0
deathtime               514403
admission_type               0
admission_location       60435
discharge_location      126657
insurance                    0
language                     0
marital_status           66107
ethnicity                    0
edregtime               212236
edouttime               212236
hospital_expire_flag         0
dtype: int64

In [20]:
df_admissions.columns

Index(['subject_id', 'hadm_id', 'admittime', 'dischtime', 'deathtime',
       'admission_type', 'admission_location', 'discharge_location',
       'insurance', 'language', 'marital_status', 'ethnicity', 'edregtime',
       'edouttime', 'hospital_expire_flag'],
      dtype='object')

In [21]:
df_admissions.dtypes

subject_id               int64
hadm_id                  int64
admittime               object
dischtime               object
deathtime               object
admission_type          object
admission_location      object
discharge_location      object
insurance               object
language                object
marital_status          object
ethnicity               object
edregtime               object
edouttime               object
hospital_expire_flag     int64
dtype: object

In [23]:
df_admissions[['subject_id', 'hadm_id', 'admittime', 'dischtime', 'admission_type', 'admission_location', 'discharge_location', 'insurance', 'language', 
                    'marital_status', 'ethnicity', 'hospital_expire_flag']].head()

,subject_id,hadm_id,admittime,dischtime,admission_type,admission_location,discharge_location,insurance,language,marital_status,ethnicity,hospital_expire_flag
0,14679932,21038362,2139-09-26 14:16:00,2139-09-28 11:30:00,ELECTIVE,NaN,HOME,Other,ENGLISH,SINGLE,UNKNOWN,0
1,15585972,24941086,2123-10-07 23:56:00,2123-10-12 11:22:00,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,WHITE,0
2,11989120,21965160,2147-01-14 09:00:00,2147-01-17 14:25:00,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,UNKNOWN,0
3,17817079,24709883,2165-12-27 17:33:00,2165-12-31 21:18:00,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,OTHER,0
4,15078341,23272159,2122-08-28 08:48:00,2122-08-30 12:32:00,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,BLACK/AFRICAN AMERICAN,0

In [36]:
df_patients = mimic_instance.read_core_patients_csv()

In [37]:
df_patients = df_patients.drop(['dod'], axis=1)

In [39]:
df_patients.isna().sum().compute()

subject_id           0
gender               0
anchor_age           0
anchor_year          0
anchor_year_group    0
dtype: int64

In [40]:
df_transfer = mimic_instance.read_core_transfers_csv()

In [41]:
df_transfer.head()

,subject_id,hadm_id,transfer_id,eventtype,careunit,intime,outtime
0,14550633,24512724.0,35906369,admit,NaN,2176-10-10 01:58:40,2176-10-10 10:00:30
1,15216953,25759433.0,37381511,admit,NaN,2173-06-14 00:08:04,2173-06-14 13:35:19
2,15776555,28490372.0,34638843,admit,NaN,2187-02-01 00:09:41,2187-02-01 14:25:07
3,12248661,23426497.0,39272104,discharge,NaN,2141-12-05 14:11:09,NaN
4,14261068,20086032.0,36182135,discharge,NaN,2144-09-13 14:14:50,NaN

In [42]:
df_transfer.isna().sum().compute()

subject_id          0
hadm_id        348553
transfer_id         0
eventtype           0
careunit       585397
intime              0
outtime        523737
dtype: int64

In [43]:
df_transfer.shape[0].compute()

2189535

In [ ]:
mimic_instance.read_hosp_d_hcpcs_csv().head()

In [ ]:
mimic_instance.read_hosp_d_icd_diagnoses_csv().head()

In [ ]:
mimic_instance.read_hosp_d_icd_procedures_csv().head()

In [ ]:
mimic_instance.read_hosp_d_labitems_csv().head()

In [ ]:
mimic_instance.read_hosp_diagnoses_icd_csv().head()

In [ ]:
mimic_instance.read_hosp_drgcodes_csv().head()

In [ ]:
mimic_instance.read_hosp_emar_csv().head()

In [ ]:
mimic_instance.read_hosp_emar_detail_csv().head()

In [ ]:
mimic_instance.read_hosp_hcpcsevents_csv().head()

In [ ]:
mimic_instance.read_hosp_labevents_csv().head()

In [ ]:
mimic_instance.read_hosp_microbiologyevents_csv().head()

In [ ]:
mimic_instance.read_hosp_pharmacy_csv().head()

In [ ]:
mimic_instance.read_hosp_poe_csv().head()

In [ ]:
mimic_instance.read_hosp_poe_detail_csv().head()

In [ ]:
mimic_instance.read_hosp_procedures_icd_csv().head()

In [ ]:
mimic_instance.read_hosp_services_csv().head()

In [ ]:
mimic_instance.read_icu_chartevents_csv().head()

In [ ]:
mimic_instance.read_icu_d_items_csv().head()

In [ ]:
mimic_instance.read_icu_datetimeevents_csv().head()

In [ ]:
mimic_instance.read_icu_icustays_csv().head()

In [ ]:
mimic_instance.read_icu_inputevents_csv().head()

In [ ]:
mimic_instance.read_icu_outputevents_csv().head()

In [ ]:
mimic_instance.read_icu_procedureevents_csv().head()